## General

yes-receive-emails = হয়, মোলৈ ইমেইল পঠিয়াব। মই কমন ভইচ প্ৰকল্প সম্পৰ্কে জানি থাকিব বিচাৰোঁ।
stayintouch = Mozilla-ত আমি কণ্ঠস্বৰ প্ৰযুক্তিৰ চৌপাশে এক সম্প্ৰদায় গঢ়ি আছোঁ। আপডেট আৰু নতুন ডেটা উৎসৰ কথা জনোৱাৰ লগতে আপুনি এই ডেটা কেনেকৈ ব্যৱহাৰ কৰি আছে সেইবিষয়ে অধিক জানিবলৈ আমি আপোনাৰ সৈতে যোগাযোগ কৰিব বিচাৰোঁ।
privacy-info = আমি আপোনাৰ তথ্য যতনেৰে পৰিচালনা কৰাৰ প্ৰতিশ্ৰুতি দিছোঁ। আমাৰ <privacyLink>গোপনীয়তা জাননী</privacyLink>ত অধিক পঢ়ক।
return-to-cv = কমন ভইচলৈ ঘূৰি যাওক
email-input =
    .label = ইমেইল
submit-form-action = দাখিল কৰক
loading = ল'ড হৈ আছে…
email-opt-in-info = মই লক্ষ্যৰ ৰিমাইণ্ডাৰ, মোৰ প্ৰগতিৰ আপডেট আৰু কমন ভইচৰ বিষয়ে সংবাদপত্ৰ আদিৰ ইমেইল পাব বিচাৰোঁ।
email-opt-in-info-title = কমন ভইচ মেইলিং তালিকাত যোগদান কৰক
email-opt-in-info-sub-with-challenge = চেলেঞ্জ আৰু লক্ষ্যৰ ৰিমাইণ্ডাৰ, প্ৰগতিৰ আপডেট আৰু কমন ভইচৰ বিষয়ে সংবাদপত্ৰ আদিৰ ইমেইল লাভ কৰক।
email-opt-in-privacy-v2 = ইমেইল পোৱাটো বাছি লৈ আপুনি এইটো কৈছে যে Mozilla-ৰ <privacyLink>গোপনীয়তা নীতি</privacyLink>ত বুজোৱা হিচাপে Mozilla-ই এই তথ্য পৰিচালনা কৰাক লৈ আপোনাৰ কোনো আপত্তি নাই।
indicates-required = * প্ৰয়োজনীয় ক্ষেত্ৰ বুজায়
not-available-abbreviation = প্ৰ/ন

# Don't rename the following section, its contents are auto-inserted based on the name (see scripts/pontoon-languages-to-ftl.js)
# [Languages]


## Languages

ab = অবখাজ
ace = এ'ছনিজ
ady = অদিঘে
af = আফ্ৰিকান
am = আমহেৰিক
an = আৰাগ'নিজ
ar = আৰবী
arn = মাপুডুংগুন
as = অসমীয়া
ast = অষ্টুৰিয়ান
az = আজৰবাইজানি
ba = বাছকিৰ
bas = বছা
be = বেলাৰুছীয়
bg = বুলগেৰীয়
bm = বাম্বাৰা
bn = বাংলা
br = ব্ৰেটন
bxr = বুৰয়াট
ca = কেটেলান
cak = কাকচিকেল
ckb = কেন্দ্ৰীয় কুৰ্দিশ্ব
cnh = হাখা চীন
co = ক'ৰ্ছিকান
cs = চেক
cv = ছুভাছ
cy = ৱেল্‌ছ
da = ডেনিছ
de = জাৰ্মান
dsb = চৰ্বিয়েন, নিম্ন
dv = ধিৱেহি
el = গ্ৰীক
en = ইংৰাজী
eo = এচপাৰেণ্টো
es = স্পেনীয়
et = ইষ্ট'নীয়
eu = বাস্ক
fa = পাৰ্চী
ff = ফুলাহ
fi = ফিনলেণ্ডীয়
fo = ফেৰ'ইজ
fr = ফৰাচী
fy-NL = ফ্ৰিচিয়ান
ga-IE = আয়াৰলেণ্ডীয়
gl = গেলিচীয়
gn = গুৱাৰানি
ha = হৌচা
he = হিব্ৰিউ
hi = হিন্দী
hr = ক্ৰোয়েচীয়
hsb = চৰ্বিয়েন, উচ্চ
ht = হাইছিয়ান
hu = হাংগাৰীয়
hy-AM = আৰ্মেনীয়
hyw = পশ্চিমীয়া আৰ্মেনীয়
ia = ইণ্টাৰ্লিংগুৱা
id = ইণ্ডোনেচীয়
ie = ইণ্টাৰ্লিংগ
ig = ইগ্বো
is = আইচলেণ্ডীয়
it = ইটালিয়ান
izh = ইজ'ৰীয়
ja = জাপানী
ka = জৰ্জীয়
kaa = কাৰাকালপাক
kab = কবাইল
kbd = কাবাৰ্ডিয়েন
ki = কিকুয়ু
kk = কাজাখ
kmr = কুৰমাঞ্জী কুৰ্দিশ্ব
ko = কোৰিয়ান
kpv = কমি-জিৰিয়ান
kw = ক'ৰ্নিচ
ky = কীৰ্গীজস্তানি
lg = লুগাণ্ডা
lij = লিগুৰীয়
lt = লিথুনীয়
lv = লেটভীয়
mai = মৈথিলী
mdf = মোক্ষ
mg = মালাগাছী
mhr = মীড' মাৰি
mk = মেচিডনীয়
ml = মলয়ালম
mn = মংগোলীয়
mos = ম'ছী
mr = মাৰাঠী
mrj = হিল মাৰি
ms = মালয়
mt = মল্টীয়
my = বাৰ্মিছ
myv = এৰ্জ্যা
nan-tw = টাইৱানীয় (মিন্নান)
nb-NO = ন'ৰ্ৱেইয়ান ব'কমাল
ne-NP = নেপালী
nia = নিয়াছ
nl = ডাট্‌চ
nn-NO = ন'ৰ্ৱেইয়ান নিন'ৰ্স্ক
nyn = নিয়ানক'লে
oc = অ'ক্কিটান
or = ওড়িয়া
pa-IN = পাঞ্জাৱী
pap-AW = পাপিয়ামেণ্ট' (আৰুবা)
pl = পোলেণ্ডীয়
ps = পাশ্তো
pt = পৰ্তুগিজ
rm-sursilv = ৰোমান্‌ছ চুৰ্চিলভান
rm-vallader = ৰ'মান্‌ছ ভ'লাডৰ
ro = ৰোমানীয়
ru = ৰুচীয়
rw = ৰোৱাণ্ডীয়
sah = ছখা
sat = চাঁওতালি (অল চিকি)
sc = চাৰ্ডিনীয়
scn = ছিচিলিয়ান
shi = ছিল্‌হা
si = সিংহলী
sk = শ্লোভাক
sl = শ্লোভেনীয়
so = ছোমালি
sq = আলবেনীয়
sr = ছাৰ্বীয়
sv-SE = ছুইডেনীয়
sw = ছোৱাহিলি
syr = ছীৰিয়েক
ta = তামিল
te = তেলেগু
tg = টাজিক
th = থাই
tl = টাগালগ
tr = তুৰ্কী
tt = টাটাৰ
tw = টোৱি
ty = টাহিচিয়ান
uby = উবিখ
udm = উডমৰ্ট
ug = উইঘুৰ
uk = ইউক্ৰেনী
ur = উৰ্দু
uz = উজবেক
vec = ভেনেটিয়ান
vi = ভিয়েতনামি
vot = ভটিক
yi = ইদ্দিশ্ব
yo = ইউৰুবা
yue = কেণ্টনীজ
zh-CN = চীনা (চীন)
zh-HK = চীনা (হংকং)
zh-TW = চীনা (টাইৱান)

# [/]


## Layout

speak = কথা কওক
speak-now = এতিয়াই কথা কওক
datasets = ডেটাছেট
languages = ভাষা
about = বিষয়ে
profile = প্ৰ'ফাইল
help = সহায়
contact = যোগাযোগ
privacy = গোপনীয়তা
terms = চৰ্তাৱলী
cookies = কুকিজ
faq = স॰উ॰প্ৰ॰
content-license-text = সমল <licenseLink>Creative Commons লাইচেঞ্চ</licenseLink>ৰ অধীনত উপলব্ধ
share-title = নিজৰ মাত দান কৰিব পৰা অন্য লোকক বিচৰাত আমাক সহায় কৰক!
share-text = আচল লোকে কেনেকৈ কথা পাতে সেয়া যন্ত্ৰবোৰক শিকোৱাত সহায় কৰক, আপোনাৰ মাত { $link }ত দান কৰক
link-copied = লিংক প্ৰতিলিপি কৰা হ'ল
back-top = শীৰ্ষলৈ ঘূৰি যাওক
logout = লগ আউট

## Home Page

home-title = আচল লোকে কেনেকৈ কথা পাতে সেয়া যন্ত্ৰবোৰক শিকাবলৈ কমন ভইচ হৈছে Mozilla-ৰ উদ্যোগ।
default-tagline = আচল লোকে কেনেকৈ কথা পাতে সেয়া যন্ত্ৰবোৰক শিকাবলৈ Mozilla কমন ভইচ হৈছে এক উদ্যম।
home-cta = কথা কওক, ইয়াত অৱদান দিয়ক!
wall-of-text-start = মাত হ'ল প্ৰাকৃতিক, মাত হ'ল মানৱীয়। সেয়েহে আমি আমাৰ যন্ত্ৰবোৰৰ বাবে উপযোগী কণ্ঠস্বৰ প্ৰযুক্তি সৃষ্টি কৰাক লৈ বিমুগ্ধ। কিন্তু কণ্ঠস্বৰ প্ৰণালী সৃষ্টি কৰিবলৈ এক বৃহৎ পৰিমাণৰ ভইচ ডেটাৰ প্ৰয়োজন।
wall-of-text-more-mobile = বৃহৎ কোম্পানীবোৰে ব্যৱহাৰ কৰা প্ৰায়ভাগ ডেটা সৰহভাগ লোকৰ বাবে উপলব্ধ নহয়। আমাৰ মতে সেইটোৱেই উদ্ভাৱনক বাধা দিয়ে। গতিকে আমি কমন ভইচ প্ৰকল্প মুকলি কৰিলোঁ, এটা প্ৰকল্প যিয়ে কণ্ঠ চিনাক্তকৰণ সকলোৰে বাবে মুকলি কৰাত সহায় কৰিব।
wall-of-text-more-desktop = এক মুক্ত-উৎসৰ ভইচ ডেটাবেছ যিটো যিকোনো ব্যক্তিয়ে ডিভাইচ আৰু ৱেবৰ বাবে অভিনৱ এপ্ তৈয়াৰ কৰিবলৈ ব্যৱহাৰ কৰিব পাৰে সেয়া নিৰ্মাণ কৰাত আমাক সহায় কৰিবলৈ এতিয়া আপুনি আপোনাৰ মাত দান কৰিব পাৰে। আচল লোকে কেনেকৈ কথা পাতে সেয়া শিকাত যন্ত্ৰবোৰক সহায় কৰিবলৈ বাক্য এটা পঢ়ক। মানদণ্ড উন্নত কৰিবলৈ অন্য অৱদানকাৰীসকলৰ কাম পৰীক্ষা কৰক। এয়া ইমান সহজ!
wall-of-text-first = মাত হ'ল প্ৰাকৃতিক, মাত হ'ল মানৱীয়। সেয়েহে আমি আমাৰ যন্ত্ৰবোৰৰ বাবে উপযোগী কণ্ঠস্বৰ প্ৰযুক্তি সৃষ্টি কৰাক লৈ উত্তেজিত। কিন্তু কণ্ঠস্বৰ প্ৰণালী সৃষ্টি কৰিবলৈ বিকাশকৰ্তাসকলক এক বৃহৎ পৰিমাণৰ ভইচ ডেটাৰ প্ৰয়োজন।
wall-of-text-second = বৃহৎ কোম্পানীবোৰে ব্যৱহাৰ কৰা প্ৰায়ভাগ ডেটা সৰহভাগ লোকৰ বাবে উপলব্ধ নহয়। আমাৰ মতে সেইটোৱেই উদ্ভাৱনক বাধা দিয়ে। গতিকে আমি কমন ভইচ প্ৰকল্প মুকলি কৰিলোঁ, এটা প্ৰকল্প যিয়ে কণ্ঠ চিনাক্তকৰণ সকলোৰে বাবে মুকলি আৰু সাধ্য কৰাত সহায় কৰিব।
show-wall-of-text = অধিক পঢ়ক
help-us-title = বাক্যবোৰৰ বৈধকৰণ কৰাত আমাক সহায় কৰক!
help-us-explain = 'চলাওক'ত ক্লিক কৰক, শুনক আৰু আমাক কওক: তেখেতে তলৰ বাক্যটো সঠিককৈ কৈছেনে?
no-clips-to-validate = এনে লাগিছে যেন এই ভাষাত শুনিবলৈ কোনো ক্লিপ নাই। এতিয়াই কেইটামান ৰেকৰ্ড কৰি শাৰী পূৰ্ণ কৰাত আমাক সহায় কৰক।
vote-yes = হয়
vote-no = নহয়
toggle-play-tooltip = চলোৱা ম'ড ট'গল কৰিবলৈ { shortcut-play-toggle } হেঁচক
speak-subtitle = আপোনাৰ মাত দান কৰক
speak-paragraph = ভইচ ক্লিপ ৰেকৰ্ড কৰাটো হৈছে আমাৰ মুকলি ডেটাছেট নিৰ্মাণৰ এক অভিন্ন অংশ; কিছুমানে এয়া মজাৰ অংশ বুলিও ক'ব।
speak-goal-text = ক্লিপ ৰেকৰ্ড কৰিছে
listen-subtitle = মাত বৈধকৰণ কৰাত আমাক সহায় কৰক
listen-paragraph = দান কৰা ক্লিপবোৰ বৈধকৰণ কৰাটোও কমন ভইচ অভিযানৰ বাবে খুবেই গুৰুত্বপূৰ্ণ। শুনক আৰু গুণগত মুক্ত উৎসৰ ভইচ ডেটা সৃষ্টি কৰাত আমাক সহায় কৰক।
listen-goal-text = ক্লিপ বৈধকৰণ কৰিছে
hours-recorded = ৰেকৰ্ডেড ঘণ্টা
hours-validated = বৈধকৃত ঘণ্টা
voices-online = মাত এতিয়া অনলাইন
todays-progress = আজিৰ প্ৰগতি
help-reach-goal = আমাক { $goal }লৈ গৈ পোৱাত সহায় কৰক
read-terms-q = আপুনি আমাৰ নীতিবোৰ পঢ়িছেনে?
ready-to-record = আপোনাৰ মাত দান কৰিবলৈ সাজুনে?
all-locales = সকলো
today = আজি
x-weeks-short =
    { $count ->
        [one] সপ্তাহ
       *[other] { $count }সপ্তাহ
    }
x-months-short =
    { $count ->
        [one] { $count }মাহ
       *[other] { $count }মাহ
    }
x-years-short =
    { $count ->
        [one] { $count }বছৰ
       *[other] { $count }বছৰ
    }
help-make-dataset = উচ্চ গুণমানৰ, ৰাজহুৱাভাৱে মুকলি ডেটাছেট নিৰ্মাণ কৰাত আমাক সহায় কৰক
sign-up-account = একাউণ্ট এটাৰ বাবে ছাইন আপ কৰক
email-subscription-title = ইমেইল আপডেটৰ বাবে ছাইন আপ কৰক
email-subscription-title-new = কমন ভইচ সংবাদপত্ৰ, লক্ষ্যৰ ৰিমাইণ্ডাৰ আৰু প্ৰগতিৰ আপডেটৰ বাবে ছাইন আপ কৰক

## Account Benefits

benefits = লাভবোৰ
rich-data = কিছু পৰিচয়বিহীন জনগাঁথনিমূলক ডেটা প্ৰদান কৰি আপুনি দাখিল কৰা ডেটা যিমান সম্ভৱ সমৃদ্ধ কৰক। আমি সেয়া ৰাজহুৱা কৰাৰ পূৰ্বে সকলো জনগাঁথনিমূলক ডেটা পৰিচয়-মুক্ত কৰোঁ।
improve-audio = প্ৰ'ফাইলৰ তথ্যই কথন চিনাক্তকৰণৰ সঠিকতা প্ৰশিক্ষণত ব্যৱহাৰ হোৱা অডিঅ' ডেটা উন্নত কৰে।
keep-track = একাধিক ভাষাজুৰি আপোনাৰ প্ৰগতি আৰু মেট্ৰিক্সৰ ট্ৰেক ৰাখক।
compare-progress = সমগ্ৰ বিশ্বৰ অৱদানকাৰীসকলৰ তুলনাত আপোনাৰ প্ৰগতি কি চাওক।
view-goals = আপোনাৰ ব্যক্তিগত আৰু প্ৰকল্পৰ লক্ষ্যবোৰৰ প্ৰগতি চাওক।
join-newsletter = ঐচ্ছিকভাৱে আপডেট আৰু প্ৰকল্পৰ বিষয়ে নতুন তথ্যৰ বাবে আমাৰ ইমেইল তালিকাত যোগদান কৰক।

## What's public

whats-public = ৰাজহুৱা কি?
email-not-public = আমি আপোনাৰ ইমেইল ৰাজহুৱা নকৰোঁ।
recordings-and-locale-public = ৰেকৰ্ডিঙৰ সংখ্যা আৰু আপুনি কোন ভাষাত অৱদান দিয়ে সেয়া ৰাজহুৱা হ'ব।
username-optin-public = আপুনি আপোনাৰ ব্যৱহাৰকাৰীনাম ৰাজহুৱা বা পৰিচয়বিহীন কৰাটো বাছি ল'ব পাৰে।
demographic-deidentified-clarity-2 = ঐচ্ছিকভাৱে দাখিল কৰা জনগাঁথনিমূলক ডেটা (যেনে- বয়স, লিংগ, ভাষা আৰু উচ্চাৰণ) আপোনাৰ প্ৰ'ফাইলত কেতিয়াও ৰাজহুৱা কৰা নহ'ব আৰু ডেটাছেটত আপোনাৰ একাউণ্টলৈ লিংক কৰা নহ'ব। বেছি সঠিক বিশ্লেষণৰ উদ্দেশ্যে সুকীয়া অডিঅ' ক্লিপসমূহ জনগাঁথনিমূলক ডেটাৰ সৈতে সংশ্লিষ্ট কৰা হ'ব - উদাহৰণস্বৰূপে- গৱেষক এগৰাকীয়ে কোনো নিৰ্দিষ্ট জনগাঁথনিৰ বিভাগক লক্ষ্য কৰি প্ৰশিক্ষণ মডেল সৃষ্টি কৰিব খুজিব পাৰে।
username-email-not-demographic = প্ৰকাশিত ডেটাৰ সৈতে আপোনাৰ ব্যৱহাৰকাৰীনাম আৰু ইমেইল সংশ্লিষ্ট কৰা নহ'ব।

## Speak & Listen Shortcuts

# Must be one letter that appears in the translated { skip } string.
shortcut-skip = s

## Listen Shortcuts

# Must be one letter that appears in the translated play-string inside of { shortcut-play-toggle-label }.
# Must be different from { shortcut-skip }, { shortcut-vote-yes } and { shortcut-vote-no }
shortcut-play-toggle = p
shortcut-play-toggle-label = চলাওক/বন্ধ কৰক
# Must be one letter that appears in the { vote-yes } string.
# Must be different from { shortcut-skip }, { shortcut-vote-no } and { shortcut-play-toggle }
shortcut-vote-yes = y
# Must be one letter that appears in the { vote-no } string.
# Must be different from { shortcut-skip }, { shortcut-vote-yes } and { shortcut-play-toggle }
shortcut-vote-no = n

## Speak Shortcuts

# Must be one letter that appears in the translated record-string inside of { shortcut-record-toggle-label }.
# Must be different from { shortcut-skip }, { shortcut-vote-yes } and { shortcut-vote-no }
shortcut-record-toggle = r
shortcut-record-toggle-label = ৰেকৰ্ড/বন্ধ কৰক
shortcut-rerecord-toggle = [1-5]
shortcut-rerecord-toggle-label = ক্লিপ পুনঃৰেকৰ্ড কৰক
shortcut-discard-ongoing-recording = ESC
shortcut-discard-ongoing-recording-label = চলি থকা ৰেকৰ্ডিং বাতিল কৰক
shortcut-submit = ঘূৰি যাওক
shortcut-submit-label = ক্লিপবোৰ দাখিল কৰক
request-language-text = এতিয়ালৈকে আপোনাৰ ভাষা কমন ভইচত দেখা নাই?
request-language-text-learn = কেনেদৰে অনুৰোধ কৰিব সেয়া ইয়াত শিকক!
request-language-button = ভাষা এটাৰ অনুৰোধ কৰক

## ProjectStatus

status-title = প্ৰকল্পৰ সৰ্বমুঠ স্থিতি: আমি কিমান আগবাঢ়িলোঁ চাওক!
status-contribute = আপোনাৰ মাত দান কৰক
status-hours =
    { $hours ->
        [one] এই পৰ্যন্ত এঘণ্টা বৈধকৃত হৈছে!
       *[other] এই পৰ্যন্ত { $hours } ঘণ্টা বৈধকৃত হৈছে!
    }
# Variables:
# $goal - number of hours representing the next goal
status-goal = পৰবৰ্তী লক্ষ্য: { $goal }
english = ইংৰাজী

## ProfileForm

profile-form-username =
    .label = ব্যৱহাৰকাৰীৰ নাম
profile-form-native-language =
    .label = খিলঞ্জীয়া ভাষা
profile-form-additional-language =
    .label = অতিৰিক্ত ভাষা
profile-form-accent =
    .label = উচ্চাৰণ
profile-form-age =
    .label = বয়স
profile-form-gender-2 =
    .label = লিংগ
leaderboard-visibility =
    .label = লীডাৰব'ৰ্ডৰ দৃশ্যমানতা
hidden = লুকুৱা
visible = দৃশ্যমান
native-language =
    .label = খিলঞ্জীয়া ভাষা
profile-form-submit-save = সাঁচি থওক
profile-form-submit-saved = সাঁচি থোৱা হ'ল
male = পুৰুষ
female = স্ত্ৰী
# Gender
other = অন্য
why-profile-title = প্ৰ'ফাইল কিয় লাগে?
why-profile-text = আপোনাৰ নিজৰ বিষয়ে কিছু তথ্য প্ৰদান কৰিলে আপুনি কমন ভইচত দাখিল কৰা অডিঅ' ডেটা যি কথন চিনাক্তকৰণ ইঞ্জিনবোৰে নিজৰ সঠিকতা উন্নত কৰিবলৈ ব্যৱহাৰ কৰে সেয়া আৰু অধিক উপযোগী হ'ব।
dashboard = ডেশ্বব'ৰ্ড
build-profile = প্ৰ'ফাইল তৈয়াৰ কৰক
avatar = অৱতাৰ
goals = লক্ষ্য
settings = ছেটিংছ
edit-profile = প্ৰ'ফাইল সম্পাদনা কৰক
profile-create-success = সফল, প্ৰ'ফাইল সৃষ্টি কৰা হ'ল!
profile-close = বন্ধ কৰক
profile-explanation = প্ৰ'ফাইল এটাৰে আপোনাৰ প্ৰগতিৰ ট্ৰেক ৰাখক আৰু আমাৰ ভইচ ডেটা আৰু অধিক সঠিক হোৱাত সহায় কৰক।
thanks-for-account = আপোনাৰ একাউণ্ট নিশ্চিত কৰাৰ বাবে ধন্যবাদ, এতিয়া আপোনাৰ প্ৰ'ফাইল নিৰ্মাণ কৰোঁ আহক।
why-demographic = এয়া কিয় গুৰুত্বপূৰ্ণ?
why-demographic-explanation-2 = অনামীকৃত ব্যৱহাৰকাৰী ডেটা যেনে বয়স, লিংগ আৰু উচ্চাৰণে কথন চিনাক্তকৰণ ইঞ্জিনবোৰক সঠিকতা প্ৰশিক্ষণ দিবলৈ ব্যৱহাৰ হোৱা অডিঅ' ডেটা উন্নত কৰাত সহায় কৰে। আপোনাৰ ব্যৱহাৰকাৰীনাম আৰু ইমেইল কেতিয়াও আপুনি দাখিল কৰা ডেটাৰ সৈতে সংশ্লিষ্ট কৰা নহ'ব আৰু আপুনি আপোনাৰ ব্যৱহাৰকাৰীনাম ৰাজহুৱা বা পৰিচয়বিহীন কৰাটো বাছি ল'ব পাৰে।
accept-privacy = Mozilla-ৰ <privacyLink>গোপনীয়তা নীতি</privacyLink>ত বুজোৱা হিচাপে আপোনালোকে এই তথ্য পৰিচালনা কৰাক লৈ মোৰ কোনো আপত্তি নাই।
accept-privacy-title = গোপনীয়তা নীত
login-identity = লগইন পৰিচয়
login-signup = লগ ইন / ছাইন আপ
edit = সম্পাদনা
email-subscriptions = ইমেইল ছাব‌স্ক্ৰিপশ্যন
download-profile = মোৰ ডেটা ডাউনল'ড কৰক
contribution-experience = অৱদানৰ অভিজ্ঞতা
skip-submission-feedback = সঁহাৰি দাখিল কৰা এৰক
skip-submission-description = অৱদান দাখিল কৰাৰ সময়ত 'দাখিল কৰক'ত ক্লিক কৰাৰ পাছত সঁহাৰি এৰি দিয়া হ'ব। অৱদান প্ৰত্যক্ষভাৱে পৰৱৰ্তী 5টা ৰেকৰ্ডিং বা বৈধকৰণৰ সংহতিৰ সৈতে অব্যাহত থাকিব।
skip-submission-note = মন কৰিব: আপুনি তথাপিও অৱদানৰ প্ৰকাৰ সলনি কৰিবলৈ কথা কোৱা বা শুনাৰ মাজৰ পৰা এটা বাছনি কৰিব লাগিব।
off = বন্ধ
on = চালু

## Profile - Email

browse-file-title = ছবি ফাইল এখন আপল'ড কৰক
browse-file = ধৰি টানি আনি এৰি দিয়ক বা <browseWrap>ব্ৰাউজ কৰক</browseWrap>
connect-gravatar = Gravatar-ৰ সৈতে সংযোগ কৰক
gravatar_not_found = আপোনাৰ ইমেইলৰ বাবে কোনো Gravatar পোৱা নাই
file_too_large = বাছনি কৰা ফাইলটো খুব ডাঙৰ
avatar-uploaded = অৱতাৰ আপল'ড কৰা হ'ল
max-file-size = সৰ্বাধিক { $kb }কেবি

## Profile - Email

manage-subscriptions = ছাব‌স্ক্ৰিপশ্যন পৰিচালনা
manage-email-subscriptions = ইমেইল ছাব‌স্ক্ৰিপশ্যন পৰিচালনা
email-already-used = অন্য এটা একাউণ্টৰ বাবে ইমেইল ইতিমধ্যে ব্যৱহাৰ কৰা হৈছে
add-language = ভাষা যোগ কৰক
change-email-setings = লগইন পৰিচয়ৰ অধীনত ছেটিংছৰ জৰিয়তে আপোনাৰ ইমেইল সলনি কৰক

## FAQ

faq-title = সঘনাই উত্থাপিত প্ৰশ্নসমূহ
faq-what-cv-q = কমন ভইচ কি?
faq-what-cv-a =
    কণ্ঠ চিনাক্তকৰণ প্ৰযুক্তিয়ে আমি যন্ত্ৰৰ সৈতে ভাৱ বিনিময় কৰা উপায়বোৰৰ বিপ্লৱ ঘটাই আছে, কিন্তু বৰ্তমান উপলব্ধ প্ৰণালীবোৰ বৰ দামী আৰু গৰাকীৰ অধীন। কণ্ঠ চিনাক্তকৰণ প্ৰযুক্তিবোৰ উন্নত আৰু সকলোৰে বাবে সাধ্য কৰি তুলিবলৈ কমন ভইচ হৈছে Mozilla-ৰ উদ্যোগৰ অংশ। কমন ভইচ দান কৰা মাতৰ এক বৃহৎ বিশ্বব্যাপী ডেটাবেছ যিয়ে সকলোকে দ্ৰুতভাৱে আৰু সহজে বাক-সক্ষম এপবোৰক সাম্ভাব্য প্ৰতিটো ভাষাতে প্ৰশিক্ষণ দিবলৈ দিয়ে।
    
    আমি কেৱল ব্যাপকভাৱে কথিত ভাষাবোৰৰেই নহয়, খুব কম কওঁতা থকা ভাষাবোৰৰো মাতৰ নমুনা সংগ্ৰহ কৰি আছোঁ। মাতৰ বৈচিত্ৰময় ডেটাছেট প্ৰকাশ কৰাটোৱে বিকাশকৰ্তা, উদ্যোগী আৰু সম্প্ৰদায়বোৰক নিজেই এই পাৰ্থক্য দূৰ কৰাত ক্ষমতা প্ৰদান কৰিব। কমন ভইচ ডেটাছেটৰ উপৰিও আমি Deep Speech নামৰ মুকলি উৎসৰ কথন চিনাক্তকৰণ ইঞ্জিন এটাও নিৰ্মাণ কৰি আছোঁ।
faq-what-cv-a-2 =
    কণ্ঠ চিনাক্তকৰণ প্ৰযুক্তিয়ে আমি যন্ত্ৰৰ সৈতে ভাৱ বিনিময় কৰা উপায়বোৰৰ বিপ্লৱ ঘটাই আছে, কিন্তু বৰ্তমান উপলব্ধ প্ৰণালীবোৰ বৰ দামী আৰু গৰাকীৰ অধীন। কণ্ঠ চিনাক্তকৰণ প্ৰযুক্তিবোৰ উন্নত আৰু সকলোৰে বাবে সাধ্য কৰি তুলিবলৈ Mozilla কমন ভইচ হৈছে এক উদ্যম। কমন ভইচ দান কৰা মাতৰ এক বৃহৎ বিশ্বব্যাপী ডেটাবেছ যিয়ে সকলোকে দ্ৰুতভাৱে আৰু সহজে বাক-সক্ষম এপবোৰক সাম্ভাব্য প্ৰতিটো ভাষাতে প্ৰশিক্ষণ দিবলৈ দিয়ে।
    
    আমি কেৱল ব্যাপকভাৱে কথিত ভাষাবোৰৰেই নহয়, খুব কম কওঁতা থকা ভাষাবোৰৰো মাতৰ নমুনা সংগ্ৰহ কৰি আছোঁ। মাতৰ বৈচিত্ৰময় ডেটাছেট প্ৰকাশ কৰাটোৱে বিকাশকৰ্তা, উদ্যোগী আৰু সম্প্ৰদায়বোৰক নিজেই এই পাৰ্থক্য দূৰ কৰাত ক্ষমতা প্ৰদান কৰিব।
faq-why-important-q = এয়া কিয় গুৰুত্বপূৰ্ণ?
faq-why-important-a =
    আমি ইজনে সিজনৰ সৈতে যোগাযোগ কৰাৰ আটাইতকৈ প্ৰাকৃতিক উপায় হ'ল কথন আৰু কণ্ঠস্বৰ প্ৰযুক্তিবোৰে এই সুবিধা আমাৰ কম্পিউটাৰ আৰু ম'বাইল ডিভাইচবোৰত আনি আছে। আমি বিকাশকৰ্তাসকলক বাস্তৱ-সময়ৰ অনুবাদক আৰু বাক-সক্ষম ডিজিটেল সহায়িকাৰ দৰে আশ্চৰ্যজনক কণ্ঠ চিনাক্তকৰণ এপ্লিকেশ্যন নিৰ্মাণ কৰিবলৈ ক্ষমতা প্ৰদান কৰিব বিচাৰোঁ। কিন্তু বৰ্তমান এনে প্ৰকাৰৰ এপ্ নিৰ্মাণ কৰিবলৈ প্ৰয়োজন হোৱা প্ৰায়ভাগ ভইচ ডেটা খুব দামী আৰু গৰাকীৰ অধীন। আমি আশা কৰোঁ যে উদ্ভাৱন কৰিবলৈ আৰু বিকাশকৰ্তাসকলৰ নিজৰ ভাষাত কথন প্ৰযুক্তি উপলব্ধ কৰোৱাবলৈ তেওঁলোকক যি লাগে সেয়া কমন ভইচ ডেটাছেটে প্ৰদান কৰিব।
    
    কণ্ঠ চিনাক্তকৰণক আৰু অধিক বিশ্বজনীন কৰিবলৈ আমি ব্যাপকভাৱে কথিত ভাষাবোৰৰ লগতে খুব কম কওঁতা থকা ভাষাবোৰৰো মাতৰ নমুনা সংগ্ৰহ কৰি আছোঁ যিবোৰক প্ৰায়ে ব্যৱসায়িক কথন চিনাক্তকৰণ সেৱাবোৰে গুৰুত্ব নিদিয়ে। মাতৰ বৈচিত্ৰময় ডেটাছেট প্ৰকাশ কৰাটোৱে বিকাশকৰ্তা, উদ্যোগী আৰু সমগ্ৰ কথন সম্প্ৰদায়ক নিজেই এই পাৰ্থক্য দূৰ কৰিবলৈ ক্ষমতা প্ৰদান কৰিব।
faq-how-get-q = মই কমন ভইচ ডেটা কেনেকৈ পাব পাৰোঁ?
faq-how-get-a = কমন ভইচ ডেটাছেট <datasetLink>আমাৰ ডেটাছেট পৃষ্ঠা</datasetLink>ত <licenseLink>CC0</licenseLink> লাইচেঞ্চৰ অধীনত ডাউনল'ডৰ বাবে উপলব্ধ। আপুনি সেইখন পৃষ্ঠাৰ পৰাই আন বহুতো ৰাজহুৱাকৈ উপলব্ধ ডেটাছেট ডাউনল'ড কৰিব পাৰে।
faq-when-release2-q = আপোনালোকে অন্য ভাষাবোৰত কমন ভইচ ডেটা কেতিয়া মুকলি কৰিব?
faq-when-release2-a = কমন ভইচ ডেটাছেটৰ বহু-ভাষিক সংস্কৰণৰ বৰ্তমান সম্প্ৰদায়ৰ সহযোগত বাণ্ডলিং আৰু চাফাই কাৰ্য্য চলি আছে। যদি আপুনি কমন ভইচত নতুন ভাষা যোগ কৰাত আমাক সহায় কৰিব বিচাৰে, তেন্তে ডেটাছেটত নতুন বাক্য যোগ কৰিবলৈ <sentenceCollectorLink>বাক্য গোটোৱা সঁজুলি</sentenceCollectorLink> আৰু ৱেবছাইট অনুবাদ কৰিবলৈ Mozilla <pontoonLink>Pontoon</pontoonLink>-লৈ গৈ চাওক। 5000টা অনুমোদিত বাক্য গোটোৱা হ'লে মাত-দানৰ বাবে কমন ভইচত নতুন ভাষা যোগ কৰা হয়।
faq-why-mission-q = কমন ভইচ Mozilla অভিযানৰ অংশ কিয়?
faq-why-mission-a = ৱেব সকলোৰে বাবে মুকলি আৰু সাধ্য কৰি ৰাখিবলৈ Mozilla সমৰ্পিত। তেনে কৰিবলৈ আমি ৱেব সৃষ্টিকৰ্তাসকলক কমন ভইচৰ দৰে প্ৰকল্পৰ জৰিয়তে ক্ষমতা প্ৰদান কৰিব লাগিব। যিহেতু বিশেষ এপ্লিকেশ্যনৰ উপৰিও আন বহুতো এপ্লিকেশ্যনত কণ্ঠস্বৰ প্ৰযুক্তিৰ ব্যৱহাৰ বৃদ্ধি পাবলৈ ধৰিছে, আমাৰ বিশ্বাস যে সেইবোৰে প্ৰতিগৰাকী ব্যৱহাৰকাৰীকেই সমানভাৱে সেৱা আগবঢ়োৱা উচিত। তাৰমানে এয়া যে কণ্ঠস্বৰ প্ৰযুক্তি নিৰ্মাণ আৰু পৰীক্ষা কৰোঁতে অধিক ভাষাত বিনিয়োগ কৰা আৰু বৈচিত্ৰময় উচ্চাৰণ আৰু জনগাঁথনিক ঠাই দিয়া। কমন ভইচ সকলোৰে বাবে উপলব্ধ ৰাজহুৱা সম্পদ আৰু Mozilla দল আৰু সমগ্ৰ বিশ্বৰ বিকাশকৰ্তাসকলে ইতিমধ্যে আমাৰ নিজা প্ৰকল্পসমূহতো ইয়াক ব্যৱহাৰ কৰি আছে।
faq-what-cv-and-deepspeech-q = কমন ভইচ আৰু Deep Speech-ৰ মাজত পাৰ্থক্য কি?
faq-what-cv-and-deepspeech-a = কমন ভইচ ডেটাছেটে Mozilla-ৰ মুকলি উৎসৰ কণ্ঠ চিনাক্তকৰণ ইঞ্জিন Deep Speech-ক পূৰ্ণ কৰে। Deep Speech-ৰ প্ৰথম সংস্কৰণ 2017 চনৰ নৱেম্বৰ মাহত মুকলি কৰা হৈছিল আৰু তেতিয়াৰে পৰা ইয়াৰ বিকাশ হৈ আহিছে। কমন ভইচ ডেটাছেটৰ সৈতে আমাৰ বিশ্বাস যে এই মুকলি উৎসৰ কণ্ঠ চিনাক্তকৰণ প্ৰযুক্তি সকলোৰে বাবে উপলব্ধ হ'ব। আমাৰ আশা যে এই প্ৰযুক্তিবোৰে বিকাশকৰ্তাসকলক অভিনৱ প্ৰডাক্ট আৰু সেৱাৰ ঢৌ কঢ়িয়াই নিয়াত সক্ষম কৰিব।
faq-is-goal-assistant-q = কমন ভইচৰ লক্ষ্য কণ্ঠস্বৰ সহায়িকা নিৰ্মাণ কৰা নেকি?
faq-is-goal-assistant-a = কমন ভইচ ডেটাছেটৰ লক্ষ্য হৈছে বিশ্বৰ সকলোকে কথন চিনাক্তকৰণ, কওঁতা চিনাক্তকৰণ বা ভইচ ডেটাৰ প্ৰয়োজন হোৱা অন্য কোনো প্ৰকাৰৰ এপ্লিকেশ্যন নিৰ্মাণ কৰিবলৈ সক্ষম কৰা। কণ্ঠ সহায়িকাও এক প্ৰকাৰৰ এপ্লিকেশ্যন যি আপুনি ডেটাছেট ব্যৱহাৰ কৰি নিৰ্মাণ কৰিব পাৰে।
faq-do-want-native-q = মই অ-খিলঞ্জীয়া কওঁতা আৰু মোৰ উচ্চাৰণ বেলেগ, আপোনালোকে তথাপিও মোৰ মাত বিচাৰে নেকি?
faq-do-want-native-a = হয়, আমাক বিশেষকৈ আপোনাৰ মাতৰ প্ৰয়োজন। কমন ভইচৰ লক্ষ্যৰ অংশ হ'ল যিমান সম্ভৱ সিমানেই বিভিন্ন উচ্চাৰণ গোটোৱা যাতে কণ্ঠ চিনাক্তকৰণ সেৱাবোৰ সকলোৰে বাবে সমানভাৱে সঠিককৈ কাম কৰে। ইয়াৰ অৰ্থ হ'ল অ-খিলঞ্জীয়া কওঁতাসকলৰ বৰঙণিও বিশেষকৈ গুৰুত্বপূৰ্ণ।
faq-why-different-speakers-q = আপোনালোকক প্ৰতিটো ভাষাৰে ইমানবোৰ ভিন্ন কওঁতা কিয় লাগে?
faq-why-different-speakers-a =
    সৰহভাগ কথন ডেটাবেছক নিৰ্দিষ্ট জনগাঁথনিৰ অত্যাধিক উপস্থাপনেৰে প্ৰশিক্ষণ দিয়া হয় যাৰ ফলত <articleLink>পুৰুষ আৰু মধ্যবিত্ত</articleLink>ৰ প্ৰতি পক্ষপাত ঘটে। ডেটা ছেটসমূহক প্ৰশিক্ষণ দিওঁতে যিবোৰ উচ্চাৰণ আৰু উপভাষা কমকৈ উপস্থাপন কৰা হয় সেইবোৰ সাধাৰণতে সেইসকল লোকৰ গোষ্ঠীৰ সৈতে জড়িত যিসকলক ইতিমধ্যে একাষৰীয়া কৰা হৈছে। বহুতো যন্ত্ৰৰো মহিলা মাত বুজোঁতে অসুবিধা হয়।
    এইকাৰণে আমি আমাৰ মাতৰ ডেটাবেছত বিবিধতা বিচাৰোঁ!
faq-why-my-lang-q = মোৰ ভাষা এতিয়ালৈকে অন্তৰ্ভুক্ত হোৱা নাই কিয়?
faq-why-my-lang-new-a = Mozilla-ই কোনো ভাষাকে আনটোতকৈ বেছি প্ৰাথমিকতা নিদিয়ে। ইয়াৰ পৰিবৰ্তে, কমন ভইচ সম্পূৰ্ণৰূপে এক সম্প্ৰদায়-চালিত উদ্যোগ, কিন্তু <multilangLink>বহুতো পদক্ষেপ থাকে নতুন ভাষা এটা যোগ</multilangLink> কৰি মাত দান গোটোৱা আৰম্ভ কৰাৰ। প্ৰথমে, কমন ভইচ ৱেবছাইট অনুবাদ কৰা হ'ব লাগিব যাতে সম্প্ৰদায়ৰ সদস্যসকলে তেওঁলোকৰ নিজা ভাষাত অৱদানকাৰী অভিজ্ঞতা লাভ কৰিব পাৰে। তাৰ পাছত, লোকে ফুটাই পঢ়িবলৈ আমাক বৃহৎ পৰিমানে কপিৰাইট-মুক্ত বাক্যৰ প্ৰয়োজন। এই দুয়োটা প্ৰয়োজনীয়তাৰ সন্তুষ্টি হোৱাৰ পাছতেই কমন ভইচত লোকে তেওঁলোকৰ মাত দান আৰু আনৰ দানবোৰ বৈধকৰণ কৰিব পৰাকৈ ভাষা এটা “মুকলি কৰা হয়”। যদি আপুনি কোনো নতুন ভাষা মুকলি কৰাত সহায় কৰিব বিচাৰে, তেন্তে আৰম্ভ কৰিবলৈ আমাৰ <sentenceCollectorLink>বাক্য গোটোৱা সঁজুলি</sentenceCollectorLink>লৈ যাওক।
faq-what-quality-q = ডেটাছেটত ব্যৱহাৰ হ'বলগীয়া ভইচ ক্লিপ এটাৰ বাবে অডিঅ'ৰ মানদণ্ডৰ স্তৰ কিমান হ'ব লাগে?
faq-what-quality-a = আমি কমন ভইচে সেই অডিঅ' কুৱালিটি প্ৰতিফলিত কৰাটো বিচাৰোঁ যি কথনৰ-পৰা-পাঠলৈ ইঞ্জিনে সাধাৰণতে শুনিব, গতিকে আমি বিবিধতা বিচাৰি আছোঁ। কওঁতাসকলৰ এক বৈচিত্ৰময় সম্প্ৰদায়ৰ উপৰিও ভিন্ন অডিঅ' কুৱালিটী থকা ডেটাছেট এটাই কথনৰ-পৰা-পাঠলৈ ইঞ্জিনক পিছফালে চলি থকা কথা-বতৰা বা গাড়ীৰ শব্দৰ দৰে বহুতো বাস্তৱ-জগতৰ পৰিস্থিতি পৰিচালনা কৰা শিকাব। আপোনাৰ ভইচ ক্লিপ বুজি পোৱাযোগ্য হোৱাটোৱেই ডেটাছেটৰ বাবে যথেষ্ট।
faq-why-10k-hours-q = অডিঅ' কেপচাৰৰ বাবে প্ৰতিটো ভাষাৰ লক্ষ্য 10,000 বৈধকৃত ঘণ্টা কিয়?
faq-why-10k-hours-a = এয়া প্ৰায় সিমান ঘণ্টাৰ সংখ্যা যিমান উৎপাদন কথনৰ-পৰা-পাঠলৈ প্ৰণালী এটাক প্ৰশিক্ষণ দিয়াৰ বাবে প্ৰয়োজন।
faq-how-calc-hours-q = কমন ভইচে ঘণ্টা কেনেকৈ গণনা কৰে?
faq-how-calc-hours-a = আমি প্ৰতিটো ৰেকৰ্ডিঙৰ দীৰ্ঘতাৰ গড় প্ৰাককলন কৰি সেই সংখ্যাটো সকলো ভাষাৰ ৰেকৰ্ডিঙৰ মুঠ সংখ্যাৰে পূৰণ কৰি ঘণ্টা গণনা কৰোঁ।
faq-where-src-from-2-q = উৎস পাঠবোৰ ক'ৰ পৰা আহে?
faq-where-src-from-2-a =
    আমাৰ উৎস পাঠ আচল অৱদানকাৰীৰ দানৰ লগতে <italic>It’s a Wonderful Life</italic>-ৰ দৰে ৰাজহুৱা ডমেইনৰ কথাছবিৰ চিত্ৰনাট্যৰ পৰা বনোৱা হয়।
    
    আপুনি আমাৰ এই <githubLink>GitHub ফ'ল্ডাৰ</githubLink>ত আমাৰ উৎস বাক্যবোৰ চাব পাৰে।
faq-why-not-ask-read-q = আপোনালোকে লোকক বিভিন্ন ভাষাৰ কিতাপ বা ৱিকিপিডিয়া প্ৰৱন্ধবোৰৰ পৰা পঢ়িবলৈ নকৈ কিয়?
faq-why-not-ask-read-a = কমন ভইচ ডেটাছেটক যিমান সম্ভৱ উপযোগী কৰি তুলিবলৈ আমি কেৱল Creative Commons (CC0) লাইচেঞ্চৰ অধীনত উপলব্ধ উৎস পাঠৰ অনুমতি দিয়াৰ সিদ্ধান্ত লৈছোঁ। CC0 মানদণ্ড ব্যৱহাৰ কৰাৰ অৰ্থ এয়া যে উৎস পাঠ বিচাৰি গোটোৱা বেছি কঠিন যদিও ই সকলোকে Mozilla-ৰ তৰফৰ পৰা কোনো ব্যৱহাৰ প্ৰতিবন্ধকতা বা প্ৰাধিকৰণ অবিহনে ফলাফলৰ ভইচ ডেটা ব্যৱহাৰ কৰিবলৈ দিয়ে। অন্ততঃ, আমি বহু-ভাষিক ডেটাছেট, গৱেষক, বিশ্ববিদ্যালয়, ষ্টাৰ্টআপ, চৰকাৰ, সামাজিক উদ্দেশ্যৰ সংস্থা আৰু আগ্ৰহকাৰীকে ধৰি সকলোৰে বাবে যিমান সম্ভৱ উপযোগী কৰি তুলিব খোজোঁ।
faq-why-account-q = মই একাউণ্টৰ বাবে ছাইন আপ কিয় কৰিব লাগে?
faq-is-account-public-q = মোৰ একাউণ্টৰ তথ্য ৰাজহুৱা নেকি?
faq-how-privacy-q = আপোনালোকে মাত দান কৰা লোকৰ পৰিচয়বিহীনতা আৰু গোপনীয়তা কেনেকৈ নিশ্চিত কৰে?
faq-how-privacy-a = ডেটাছেটত থকা সকলো ভইচ ক্লিপৰ পৰা ব্যক্তিগত পৰিচয়ৰ তথ্য আঁতৰোৱা হয়। যেতিয়া কোনো অৱদানকাৰীয়ে তেওঁৰ প্ৰ'ফাইলৰ জৰিয়তে জনগাঁথনিমূলক ডেটা প্ৰদান কৰে, তেতিয়া সেই তথ্য তেওঁৰ ভইচ ক্লিপবোৰৰ পৰা ডেটাছেটত ডাউনল'ডৰ বাবে বাণ্ডল কৰাৰ পূৰ্বে পৰিচয়-মুক্ত কৰা হয় আৰু তেওঁৰ প্ৰ'ফাইল পৃষ্ঠাত কেতিয়াও ৰাজহুৱা কৰা নহয়।
faq-what-determine-identity-q = মই যে কমন ভইচ ডেটাছেটত থকা কওঁতাসকলৰ "পৰিচয় নিৰ্ধাৰণ" কৰিব নোৱাৰোঁ তাৰ অৰ্থ কি?
faq-what-determine-identity-a =
    কমন ভইচ ডেটাছেট এক মুকলি আৰু ৰাজহুৱাকৈ উপলব্ধ সাধন যিটো বহুতো প্ৰকাৰৰ বাক-সক্ষম এপ্লিকেশ্যনক প্ৰশিক্ষণ দিবলৈ ব্যৱহাৰ কৰিব পাৰি। আমাৰ অৱদানকাৰীসকলৰ নিৰাপত্তা ৰক্ষা কৰিবলৈ আমি কমন ভইচ ডেটাছেট ডাউনল'ড কৰা সকলোকে অৱদানকাৰীসকলৰ গোপনীয়তাৰ সন্মান কৰিবলৈ কওঁ।
    
    ডেটাছেটত থকা সকলো ভইচ ক্লিপৰ পৰা ব্যক্তিগত পৰিচয়ৰ তথ্য আঁতৰোৱা হয়। যেতিয়া আপুনি ডেটাছেট ডাউনল'ড কৰে, তেতিয়া আপুনি কোনো অৱদানকাৰীৰে পৰিচয় নিৰ্ধাৰণ কৰাৰ চেষ্টা নকৰে বুলি সন্মতি জনায়। ইয়াৰ অৰ্থ এয়া যে আপুনি ডেটাছেটত থকা তথ্য কোনো অৱদানকাৰীৰ ব্যক্তিগত তথ্যৰে সংযোগ কৰিব নোৱাৰে। কিন্তু তথাপিও আপুনি, উদাহৰণস্বৰূপে- ডেটাছেটত আগৰেই পৰা থকা অন্য তথ্যৰে ডেটাছেটৰ তথ্য সংযোগ কৰি, কথন চিনাক্তকৰণ, কওঁতা চিনাক্তকৰণ বা অন্য এপ্লিকেশ্যনবোৰক প্ৰশিক্ষণ দিবলৈ ডেটাছেট ব্যৱহাৰ কৰিব পাৰে।
faq-what-is-cv = কমন ভইচ কি?
faq-using-cv = কমন ভইচ ব্যৱহাৰ কৰা
faq-description = আচল লোকে কেনেকৈ কথা পাতে সেয়া যন্ত্ৰবোৰক শিকাবলৈ কমন ভইচ হৈছে Mozilla-ৰ উদ্যোগৰ এক অংশ।
faq-search-for-answers =
    .label = উত্তৰৰ সন্ধান কৰক

## ABOUT US

about-title = কমন ভইচেই কিয়?
about-subtitle = আচল লোকে কেনেকৈ কথা পাতে সেয়া যন্ত্ৰবোৰক শিকাবলৈ কমন ভইচ হৈছে Mozilla-ৰ উদ্যোগৰ এক অংশ। কমন ভইচ ডেটাছেটৰ লগতে আমি Deep Speech নামৰ মুকলি উৎসৰ কথন চিনাক্তকৰণ ইঞ্জিন এটাও নিৰ্মাণ কৰি আছোঁ।
about-header-description = এই দুয়োটা প্ৰকল্প ডিজিটেল কথন বিভাজন আঁতৰ কৰিবলৈ আমাৰ প্ৰচেষ্টাৰ অংশ। কণ্ঠ চিনাক্তকৰণ প্ৰযুক্তিবোৰে আমাৰ ডিভাইচবোৰত মানৱিক মাত্ৰা আনে, কিন্তু সেয়া নিৰ্মাণ কৰিবলৈ বিকাশকৰ্তাসকলক বৃহৎ পৰিমাণে ভইচ ডেটাৰ প্ৰয়োজন। বৰ্তমান, প্ৰায়ভাগ ডেটা খুব দামী আৰু গৰাকীৰ অধীন। আমি ভইচ ডেটা বিনামূলীয়া আৰু ৰাজহুৱাকৈ উপলব্ধ কৰোৱাব বিচাৰোঁ আৰু আচল লোকৰ বিচিত্ৰতাৰ উপস্থাপন কৰাটো নিশ্চিত কৰিব বিচাৰোঁ। আমি একেলগে কণ্ঠ চিনাক্তকৰণ সকলোৰে বাবে উন্নত কৰিব পাৰোঁ।
about-header-description-2 = এই প্ৰকল্প ডিজিটেল কথন বিভাজন আঁতৰ কৰাৰ এক প্ৰচেষ্টা। কণ্ঠ চিনাক্তকৰণ প্ৰযুক্তিবোৰে আমাৰ ডিভাইচবোৰত মানৱিক মাত্ৰা আনে, কিন্তু সেয়া নিৰ্মাণ কৰিবলৈ ডেভেল'পাৰসকলক বৃহৎ পৰিমাণে কণ্ঠ ডাটাৰ প্ৰয়োজন। বৰ্তমান, অধিকাংশ ডাটা খুব দামী আৰু গৰাকীৰ অধীন। আমি কণ্ঠ ডাটা বিনামূলীয়া আৰু ৰাজহুৱাকৈ উপলব্ধ কৰাব বিচাৰোঁ আৰু আচল লোকৰ বিচিত্ৰতাৰ প্ৰতিনিধিত্ব কৰাটো নিশ্চিত কৰিব বিচাৰোঁ। আমি একেলগে কণ্ঠ চিনাক্তকৰণ সকলোৰে বাবে উন্নত কৰিব পাৰোঁ।
how-does-it-work-title = ই কেনেকৈ কাম কৰে?
how-does-it-work-text = আমি মাতৰ এক মুক্ত-উৎসৰ ডেটাছেট ক্ৰাউডছ'ৰ্চ কৰি আছোঁ। আপোনাৰ মাত দান কৰক, অন্য লোকৰ ক্লিপবোৰৰ সঠিকতা বৈধকৰণ কৰক, ডেটাছেট সকলোৰে বাবে উন্নত কৰক।
about-speak = কথা কওক
about-speak-text = দান কৰা বাক্যৰ বেংকৰ পৰা পঢ়ি অৱদানকাৰীসকলে ভইচ ক্লিপবোৰ ৰেকৰ্ড কৰে।
about-listen-queue = শুনা-শাৰী
about-listen-queue-text = ভইচ ক্লিপবোৰ দাখিল শাৰী এটাত ৰখা হয় যিয়ে সেয়া শুনাৰ বাবে সাজু কৰে।
about-listen = শুনক
about-listen-text = কওঁতাসকলে বাক্য শুদ্ধকৈ পঢ়িছে নে নাই পৰীক্ষা কৰি দান কৰা ক্লিপবোৰৰ সঠিকতা ব্যৱহাৰকাৰীসকলে বৈধকৰণ কৰে।
about-is-it-valid = এই ক্লিপটো বৈধনে?
about-is-it-valid-text = কোনো মাত "বৈধ" বুলি চিন দিয়া হয় যেতিয়া কোনো ব্যৱহাৰকাৰীয়ে হয় বুলি ভোট দিয়ে।
about-yes-votes = ≥ 2টা হয় ভোট
about-yes-votes-text = কমন ভইচ ডেটাছেটলৈ গৈ পাবলৈ এটা ভইচ ক্লিপ দুগৰাকী সুকীয়া ব্যৱহাৰকাৰীৰ দ্বাৰা বৈধকৰণ কৰা হ'বই লাগিব।
about-no-votes = ≥ 2টা নহয় ভোট
about-no-votes-text = যেতিয়া কোনো ব্যৱহাৰকাৰীয়ে ভইচ ক্লিপ এটা নাকচ কৰে তেতিয়া সেইটো শাৰীলৈ ঘূৰি যায়। যদি দ্বিতীয়বাৰো নাকচ কৰা হয়, ভইচ ক্লিপটো ক্লিপৰ কবৰস্থানলৈ লৈ যোৱা হয়।
about-dataset-new = কমন ভইচ ডেটাছেট
about-dataset-new-text = কমন ভইচ ডেটাছেটত হাজাৰ হাজাৰ মাতৰ নমুনা থাকে যিয়ে বিকাশকৰ্তাসকলক কণ্ঠ চিনাক্তকৰণ সা-সঁজুলি নিৰ্মাণ কৰাত সাহয় কৰে।
about-clip-graveyard = ক্লিপৰ কবৰস্থান
about-clip-graveyard-text = ক্লিপৰ কবৰস্থানত কমন ভইচ ডেটাছেটলৈ গৈ নোপোৱা ভইচ ক্লিপবোৰ থাকে। ডেটাছেটৰ দৰেই ক্লিপৰ কবৰস্থানো ডাউনল'ডৰ বাবে উপলব্ধ।
about-partners = অংশীদাৰসকল
about-become-a-partner = এগৰাকী অংশীদাৰ হওক
about-partnership =
    কমন ভইচ এক সহযোগিতামূলক প্ৰকল্প আৰু মাতৰ বৃহত্তম মুক্ত-উৎসৰ ডেটাছেট নিৰ্মাণ কৰিবলৈ আমি আমাৰ অংশীদাৰ আৰু অৱদানকাৰীৰ সম্প্ৰদায়ৰ ওপৰত নিৰ্ভৰ কৰি আছোঁ।
    
    এই প্ৰকল্পত সহায় কৰাৰ বাবে আমি এইসকল লোক আৰু সংগঠনক ধন্যবাদ জনাব বিচাৰোঁ:
about-get-involved = জড়িত হওক
about-get-involved-text-2 =
    কমন ভইচক আৰু উন্নত কৰাত সহায় কৰিব খোজেনে?
    বঢ়িয়া! ইমেইল বা <discourseLink>Discourse</discourseLink>
    ফ'ৰামসমূহৰ যোগেদি যোগাযোগ কৰক, <githubLink>GitHub</githubLink>-ৰ যোগেদি ছাইটৰ সমস্যা দাখিল কৰক নাইবা <matrixLink>Matrix</matrixLink> কমিউনিটী চ্চেটত যোগদান কৰক।
about-nav-why-common-voice = কিয় ?
about-nav-how-it-works = কেনেকৈ ?
about-nav-partners = অংশীদাৰ
about-nav-get-involved = জড়িত হওক
mycroft-title = Mycroft Ai
mycroft-subtitle = কৃত্ৰিম বুদ্ধিমত্তা
mycroft-description = Mycroft বিশ্বৰ প্ৰথম মুকলি উৎসৰ সহায়িকা। Mycroft যিকোনো ঠাইতে চলে - ডেস্কট'প কম্পিউটাৰত, অট'ম'বাইলৰ ভিতৰত বা Raspberry Pi-ত।
mycroft-secondary-description = এয়া এক মুকলি উৎসৰ ছ'ফ্টৱেৰ যিটো মুক্তভাৱে ৰিমিক্স, প্ৰসাৰিত আৰু উন্নত কৰিব পাৰি। ছায়েঞ্চ প্ৰজেক্ট হওক বা উদ্যোগৰ ছ'ফ্টৱেৰ এপ্লিকেশ্যন, Mycroft সকলোতে ব্যৱহাৰ কৰিব পাৰি।

## Glossary

glossary = অৰ্থকোষ
localization = স্থানীয়কৰণ
localization-explanation = বহুতো ভাষাৰ বাবে আমাৰ সমল অনুবাদ আৰু অনুকূলন কৰাৰ বাবে এয়া আমাৰ প্ৰক্ৰিয়া।
sentence-collection = বাক্য গোটোৱা
sentence-collection-explanation = ৰাজহুৱা ডমেইনৰ পৰা বাক্য সংগ্ৰহ কৰা বা ৰাজহুৱা ডমেইনৰ বাবে নতুনকৈ লিখা।
hours-recorded-explanation = আমি এতিয়ালৈ সংগ্ৰহ কৰা ভইচ ৰেকৰ্ডিঙৰ সংখ্যা।
hours-validated-explanation = 3ৰ ভিতৰত 2 গৰাকী ব্যৱহাৰকাৰীয়ে “হয়” ভোট দি বৈধকৰণ কৰা ভইচ ৰেকৰ্ডিঙৰ ঘণ্টাৰ সংখ্যা। ই প্ৰকল্পৰ সৰ্বমুঠ 10 হাজাৰ ঘণ্টাৰ লক্ষ্যৰ প্ৰগতি চিহ্নিত কৰে।
sst = কথনৰ-পৰা-পাঠলৈ (STT)
sst-explanation = কথনৰ-পৰা-পাঠলৈ (STT) প্ৰযুক্তিয়ে ভইচ ডেটা পাঠলৈ ৰূপান্তৰ কৰে।
de-identified = পৰিচয়-মুক্ত কৰা হয়
de-identified-explanation = ডেটাছেটৰ অংশ হিচাপে ডাউনল'ডৰ বাবে পেকেজ কৰোঁতে অৱদানকাৰীসকলে দান কৰা ভইচ ক্লিপবোৰৰ পৰা তেওঁলোকৰ প্ৰ'ফাইলৰ তথ্য অস্পষ্ট কৰা প্ৰক্ৰিয়া।

## Error pages

error-title-404 = আমি আপোনাৰ বাবে সেই পৃষ্ঠাখন বিচাৰি পোৱা নাই
error-content-404 = চাগৈ <homepageLink>মুখ্যপৃষ্ঠা</homepageLink>ই সহায় কৰিব? কিবা প্ৰশ্ন সুধিবলৈ অনুগ্ৰহ কৰি <matrixLink>Matrix কমিউনিটী চ্চেট</matrixLink>ত যোগদান কৰক, <githubLink>GitHub</githubLink>-ৰ যোগেদি ছাইটৰ সমস্যা নিৰীক্ষণ কৰক নাইবা <discourseLink>আমাৰ Discourse ফ'ৰামসমূহ</discourseLink>লৈ যাওক।
error-title-503 = আমি অপ্ৰত্যাশিত ডাউনটাইমৰ সন্মুখীন হৈছোঁ
error-content-503 = ছাইট যিমান সোনকালে সম্ভৱ উভতি আহিব। শেহতীয়া তথ্যৰ বাবে অনুগ্ৰহ কৰি <matrixLink>Matrix কমিউনিটী চ্চেট</matrixLink>ত যোগদান কৰক নাইবা ছাইটৰ অভিজ্ঞতা সম্বন্ধীয় সমস্যা দাখিল আৰু নিৰীক্ষণ কৰিবলৈ <githubLink>GitHub</githubLink> বা <discourseLink>আমাৰ Discourse ফ'ৰামসমূহ</discourseLink>লৈ যাওক।
error-code = { $code } ত্ৰুটি

## Data

data-download-button = কমন ভইচ ডেটা ডাউনল'ড কৰক
data-download-yes = হয়
data-download-deny = নহয়
data-download-license = লাইচেঞ্চ: <licenseLink>CC-0</licenseLink>
data-download-modal = আপুনি <size>{ $size }GB</size>-ৰ ডাউনল'ড আৰম্ভ কৰিবলৈ লৈছে, আগবাঢ়িবনে?
data-subtitle = আমি মাতৰ এক মুকলি আৰু ৰাজহুৱাকৈ উপলব্ধ ডেটাছেট নিৰ্মাণ কৰি আছোঁ যিটো সকলোৱে বাক-সক্ষম এপ্লিকেশ্যনবোৰক প্ৰশিক্ষণ দিবলৈ ব্যৱহাৰ কৰিব পাৰে।
data-explanatory-text = আমাৰ বিশ্বাস যে বৃহৎ আৰু ৰাজহুৱাকৈ উপলব্ধ ভইচ ডেটাছেটবোৰে মেশ্বীন-লাৰ্নিং ভিত্তিক কথন প্ৰযুক্তিৰ ক্ষেত্ৰত উদ্ভাৱন আৰু সুস্থ বাণিজ্যিক প্ৰতিযোগিতা উৎসাহিত কৰে। এয়া এক বিশ্বব্যাপী প্ৰচেষ্টা আৰু আমি সকলোকে অংশগ্ৰহণ কৰিবলৈ আমন্ত্ৰণ কৰোঁ। আমাৰ লক্ষ্য হ'ল সমগ্ৰ বিশ্বৰ মাতৰ বিচিত্ৰতা প্ৰতিফলিত কৰি কথন প্ৰযুক্তিক আৰু অধিক সমাবেশী হোৱাত সহায় কৰা।
data-get-started = <speechBlogLink>কথন চিনাক্তকৰণৰ সৈতে আৰম্ভ গৈ যাওক</speechBlogLink>
data-other-title = অন্য ভইচ ডেটাছেটবোৰ…
data-other-goto = { $name }লৈ যাওক
data-other-download = ডেটা ডাউনল'ড কৰক
data-bundle-button = ডেটাছেট বাণ্ডল ডাউনল'ড কৰক
data-bundle-description = কমন ভইচ ডেটাছেটৰ লগতে ওপৰৰ আন সকলো ডেটাছেট।
release-version = সংস্কৰণ
dataset-date = তাৰিখ
license = লাইচেঞ্চ: <licenseLink>{ $license }</licenseLink>
license-mixed = মিশ্ৰিত
data-download-singleword-title = এটা শব্দৰ টাৰ্গেট ছেগমেণ্ট ডাউনল'ড কৰক
data-download-singleword-callout-v2 = ই এক ব্যৱহাৰক্ষেত্ৰ চালিত ছেগমেণ্ট য'ত কথিত অংক আৰু হয় / নহয় চিনাক্তকৰণৰ বাবে ব্যৱহাৰ কৰিব পৰা ডেটা আছে।
review-terms = কমন ভইচ ব্যৱহাৰ কৰি, আপুনি আমাৰ <termsLink>নীতি</termsLink> আৰু <privacyLink>গোপনীয়তা জাননী</privacyLink>ক সন্মতি জনাইছে
terms-agree = মই সন্মত
terms-disagree = মই সন্মত নহয়
review-aborted = আপল'ড বাতিল কৰা হ'ল। আপুনি আপোনাৰ ৰেকৰ্ডিংবোৰ মচিব বিচাৰে নেকি?
review-submit-title = সমীক্ষা কৰি দাখিল কৰক
review-submit-msg = ৰেকৰ্ড কৰাৰ বাবে ধন্যবাদ! <lineBreak></lineBreak>এতিয়া আপোনাৰ ক্লিপবোৰৰ সমীক্ষা কৰি তলত দাখিল কৰক।
review-recording = সমীক্ষা কৰক
review-rerecord = পুনঃৰেকৰ্ড কৰক
review-cancel = দাখিল কৰা বাতিল কৰক
review-keep-recordings = ৰেকৰ্ডিংবোৰ ৰখি থওক
review-delete-recordings = মোৰ ৰেকৰ্ডিংবোৰ মচি পেলাওক

## Datasets Page

datasets-headline = আমি মাতৰ এক মুকলি উৎসৰ, বহু-ভাষিক ডেটাছেট নিৰ্মাণ কৰি আছোঁ যিটো যিকোনো ব্যক্তিয়ে কথন-যুক্ত এপ্লিকেশ্যনবোৰক প্ৰশিক্ষণ দিবলৈ ব্যৱহাৰ কৰিব পাৰে।
datasets-positioning =
    আমাৰ বিশ্বাস যে বৃহৎ, ৰাজহুৱাকৈ উপলব্ধ ভইচ ডেটাছেটবোৰে মেশ্বীন-লাৰ্নিং ভিত্তিক কথন প্ৰযুক্তিৰ ক্ষেত্ৰত উদ্ভাৱন আৰু সুস্থ বাণিজ্যিক প্ৰতিযোগিতা উৎসাহিত কৰিব।
    কমন ভইচৰ বহু-ভাষিক ডেটাছেট ইতিমধ্যে ইয়াৰে প্ৰকাৰৰ বৃহত্তম ৰাজহুৱাকৈ উপলব্ধ ভইচ ডেটাছেট, কিন্তু ইয়ে একমাত্ৰ নহয়।
    
    অন্য মুকলি উৎসৰ ভইচ ডেটাছেটবোৰৰ বাবে এই পৃষ্ঠাখন প্ৰসংগৰ হাব হিচাপে চাওক আৰু কমন ভইচ ডাঙৰ হয়মানে আমাৰ মুকলি আপডেটবোৰৰ বাবে মুখ্যপৃষ্ঠা।
language = ভাষা
# File size in gigabytes
size = আকাৰ
validated-hr-total = বৈধকৃত ঘণ্টা মুঠ
overall-hr-total = সামগ্ৰিক ঘণ্টা মুঠ
cv-license = লাইচেঞ্চ
audio-format = অডিঅ'ৰ সজ্জা
number-of-voices = মাতৰ সংখ্যা
splits = বিভাজন
email-to-download = ডাউনল'ড কৰিবলৈ ইমেইল লিখক
why-email = <b>ইমেইল কিয় লাগে?</b> ডেটাছেটৰ সাল-সলনি সম্পৰ্কে আমি ভৱিষ্যতে আপোনাৰ সৈতে যোগাযোগ কৰিব লাগিব পাৰে, ইমেইল এটাই আমাক যোগাযোগৰ এক মাধ্যম প্ৰদান কৰে।
confirm-size = আপুনি <b>{ $size }</b>-ৰ ডাউনল'ড এটা আৰম্ভ কৰিবলৈ তৈয়াৰ হৈছে
size-gigabyte = GB
size-megabyte = MB
confirm-no-identify = কমন ভইচ ডেটাছেটত থকা কওঁতাসকলৰ পৰিচয় নিৰ্ধাৰণ কৰাৰ চেষ্টা নকৰে বুলি <b>আপুনি সন্মত হৈছে</b>
download-language = { $language } ডাউনল'ড কৰক
validated-hours = বৈধকৃত ঘণ্টা
recorded-hours = ৰেকৰ্ড কৰা ঘণ্টা
whats-inside = কমন ভইচ ডেটাছেটৰ ভিতৰত কি থাকে?
dataset-description-hours =
    ডেটাছেটত থকা প্ৰত্যেক এণ্ট্ৰীৰে এটাকৈ অনন্য MP3 আৰু আনুষংগিক টেক্স্‌ট ফাইল থাকে। ডেটাছেটত ৰেকৰ্ড কৰা <b>{ $total }</b> ঘণ্টাৰ বহুখিনিত বয়স, লিংগ আৰু উচ্চাৰণৰ দৰে জনগাঁথনিমূলক মেটাডেটাও আছে যিয়ে কথন চিনাক্তকৰণ ইঞ্জিনবোৰক সঠিকতা প্ৰশিক্ষণ দিয়াত সহায় কৰিব পাৰে।
    
    ডেটাছেটত বৰ্তমান <b>{ $languages }</b>টা ভাষাৰ <b>{ $valid }</b> বৈধকৃত ঘণ্টা আছে, কিন্তু আমি সদায়ে নতুন নতুন মাত আৰু ভাষা যোগ কৰি আছোঁ। কোনো ভাষাৰ অনুৰোধ বা অৱদান দিয়া আৰম্ভ কৰিবলৈ আমাৰ <languagesLink>ভাষা পৃষ্ঠা</languagesLink>ত এবাৰ চকু ফুৰাওক।
want-dataset-update = আমি যেতিয়া কমন ভইচ ডেটাছেটৰ নতুন সংস্কৰণ মুকলি কৰোঁ তেতিয়া আপডেট বিচাৰে? আমাৰ সংবাদপত্ৰ ছাব‌স্ক্ৰাইব কৰক।
subscribe = ছাব‌স্ক্ৰাইব কৰক
get-started-speech = কথন চিনাক্তকৰণেৰে আৰম্ভ হৈ যাওক
other-datasets = অন্য ভইচ ডেটাছেটবোৰ
feedback-q = সঁহাৰি আছেনে?
resource-nemo-info = <githubLink>NVIDIA NeMo</githubLink>™ হৈছে অত্যাধুনিক কথোপকথনমূলক AI মডেল প্ৰস্তুত কৰা গৱেষকসকলৰ বাবে এক <docsLink>মুক্ত-উৎসৰ টুলকিট</docsLink>।
resource-deepspeech-info = কথন চিনাক্তকৰণ এপ্লিকেশ্যন তৈয়াৰ কৰিবলৈ Mozilla-ৰ মুক্ত উৎসৰ কণ্ঠস্বৰ চিনাক্তকৰণ ইঞ্জিন Deep Speech ব্যৱহাৰ কৰিব পাৰি। আমাৰ <githubLink>Github অৱলোকন</githubLink> পঢ়ক নাইবা কেনেকৈ আৰম্ভ কৰিব লাগে জানিবলৈ <discourseLink>DeepSpeech Discourse</discourseLink>-ত যোগদান কৰক।
resource-coqui-info = <coquiLink>Coqui</coquiLink> মুক্ত কথন প্ৰযুক্তিৰ বাবে উৎসৰ্গিত। তেওঁলোকৰ প্ৰকল্পসমূহৰ ভিতৰত আছে গভীৰ শিক্ষণ-ভিত্তিক STT আৰু TTS ইঞ্জিন।
community-playbook = সাম্প্ৰদায়িক প্লে'বুক
resource-playbook-info = সমগ্ৰ কমন ভইচ যাত্ৰাত স্থানীয়কৰণৰ পৰা আদি কৰি ডাটাছেট ব্যৱহাৰ আৰু লগতে আমাৰ সম্প্ৰদায়ৰ সৈতে কেনেকৈ সংযোগ কৰিব পাৰি তাৰে <playbookLink>সহায়ক নিৰ্দেশনা পাওক</playbookLink>।
data-other-librispeech-description = LibriSpeech হৈছে LibriVox প্ৰকল্পৰ পঠিত অডিঅ'কিতাপবোৰৰ পৰা লাভ কৰা 1000 ঘণ্টীয়া 16Khz পঠিত ইংৰাজী কথনৰ এক সংগ্ৰহ।
data-other-ted-name = TED-LIUM ক'ৰ্পাছ
data-other-ted-description = TED-LIUM ক'ৰ্পাছ TED ৱেবছাইটত উপলব্ধ অডিঅ' কথা আৰু সেইবোৰৰ পাঠান্তৰৰ পৰা বনোৱা হৈছিল।
data-other-voxforge-description = VoxForge বিনামূলীয়া আৰু মুকলি উৎসৰ কথন চিনাক্তকৰণ ইঞ্জিনবোৰৰ সৈতে ব্যৱহাৰ কৰাৰ বাবে পাঠান্তৰিত কথন সংগ্ৰহ কৰিবলৈ ছেট আপ কৰা হৈছিল।
data-other-tatoeba-description = Tatoeba ভাষা শিকাৰ বাবে ব্যৱহাৰ কৰিবলৈ বাক্য, অনুবাদ আৰু কথিত অডিঅ'ৰ এক বৃহৎ ডেটাবেছ। এই ডাউনল'ডত তেওঁলোকৰ সম্প্ৰদায়ৰ দ্বাৰা ৰেকৰ্ড কৰা কথিত ইংৰাজী আছে।
your-feedback = আমি কমন ভইচ ডেটাছেট কেনেকৈ উন্নত কৰিব পাৰোঁ সেই সম্পৰ্কে আপোনাৰ কিবা আইডিয়া আছে নেকি? Discourse-ত আমাক জনাওক
go-discourse = Discourse-লৈ যাওক
missing-language = ডেটাছেটত আপোনাৰ ভাষা প্ৰতিফলিত হোৱা দেখা নাইনে? কোনো ভাষাৰ অনুৰোধ কৰিবলৈ আমাৰ ভাষা পৃষ্ঠালৈ যাওক।
go-languages-page = ভাষা পৃষ্ঠালৈ যাওক
ready-to-validate = বাক্যবোৰ বৈধকৰণ কৰাত সহায় কৰিবলৈ সাজুনে?
more = অধিক
close = বন্ধ কৰক
download = ডাউনল'ড কৰক
dataset-version = সংস্কৰণ

## Download Modal

download-title = আপোনাৰ ডাউনল'ড আৰম্ভ হৈছে।
download-helpus = কণ্ঠস্বৰ প্ৰযুক্তিৰ চৌপাশে সম্প্ৰদায় গঢ়াত আমাক সহায় কৰক, ইমেইলৰ জৰিয়তে যোগাযোগ কৰি থাকিব।
download-form-email =
    .label = আপোনাৰ ইমেইল লিখক
    .value = ধন্যবাদ, আমি আপোনাক যোগাযোগ কৰিম।
download-back = কমন ভইচ ডেটাছেটলৈ ঘূৰি যাওক
download-no = নালাগে ধন্যবাদ

## Contact Modal

contact-title = যোগাযোগ পত্ৰ
contact-form-name =
    .label = নাম
contact-form-message =
    .label = বাৰ্তা দিয়ক
contact-required = *প্ৰয়োজনীয়

## Request Language Modal

request-language-title = ভাষাৰ অনুৰোধ কৰক
request-language-form-language =
    .label = ভাষা
request-language-success-title = ভাষাৰ অনুৰোধ সফলভাৱে দাখিল কৰা হৈছে, ধন্যবাদ।
request-language-success-content = আপোনাৰ ভাষা কমন ভইচত কেনেকৈ যোগ কৰিব সেইবিষয়ে অধিক তথ্যৰ সৈতে আমি আপোনাৰ সৈতে অতি সোনকালে যোগাযোগ কৰিম।
select-language = এটা ভাষা বাছনি কৰক...
other-language = অন্য ভাষাসমূহ

## Languages Overview

language-section-in-progress = প্ৰগতিশীল
language-section-in-progress-new-description = এই ভাষাবোৰৰ বৰ্তমান সাম্প্ৰদায়িক উন্নয়ন চলি আছে। প্ৰগতি দণ্ডিকাডালে এয়া দেখুৱায় যে প্ৰতিটো ভাষাৰ <localizationGlossaryLink>ৱেবছাইট স্থানীয়কৰণ</localizationGlossaryLink> আৰু <sentenceCollectionGlossaryLink>বাক্য গোটোৱা</sentenceCollectionGlossaryLink> প্ৰক্ৰিয়া কিমান আগবাঢ়িছে।
language-section-launched = মুকলি কৰা হৈছে
language-section-launched-description = এই মুকলি কৰা ভাষাবোৰৰ বাবে ৱেবছাইট সফলভাৱে <localizationGlossaryLink>স্থানীয়কৰণ</localizationGlossaryLink> কৰা হৈছে আৰু চলি থকা <speakLink>কথা কোৱা</speakLink> আৰু <listenLink>শুনা</listenLink> অৱদানৰ বাবে অনুমতি দিবলৈ যথেষ্ট <sentenceCollectionGlossaryLink>বাক্য গোটোৱা</sentenceCollectionGlossaryLink> আছে।
languages-show-more = অধিক চাওক
languages-show-less = কম চাওক
language-meter-in-progress = প্ৰগতি
language-total-progress = মুঠ
language-search-input =
    .placeholder = সন্ধান কৰক
language-speakers = কওঁতা
localized = স্থানীয়কৃত
sentences = বাক্য
total-hours = বৈধকৃত ঘণ্টা

## Contribution

action-click = ক্লিক কৰক
action-tap = স্পৰ্শ কৰক
contribute = অৱদান দিয়ক
listen = শুনক
skip = এৰক
shortcuts = চমুপথবোৰ
clips-with-count-pluralized =
    { $count ->
        [one] <bold>{ $count }</bold>টা ক্লিপ
       *[other] <bold>{ $count }</bold>টা ক্লিপ
    }
goal-help-recording = আপুনি কমন ভইচক আমাৰ দৈনিক { $goalValue } ৰেকৰ্ডিং লক্ষ্যৰ <goalPercentage></goalPercentage>-লৈ গৈ পোৱাত সহায় কৰিছে!
goal-help-validation = আপুনি কমন ভইচক আমাৰ দৈনিক { $goalValue } বৈধকৰণ লক্ষ্যৰ <goalPercentage></goalPercentage>-লৈ গৈ পোৱাত সহায় কৰিছে!
contribute-more =
    { $count ->
        [one] আৰু { $count }টা কৰিবলৈ সাজুনে?
       *[other] আৰু { $count }টা কৰিবলৈ সাজুনে?
    }
record-cta = ৰেকৰ্ডিং আৰম্ভ কৰক
record-platform-not-supported = আমি দুঃখিত, কিন্তু বৰ্তমান আপোনাৰ প্লেটফ'ৰ্ম সমৰ্থিত নহয়।
record-platform-not-supported-desktop = ডেস্কট'প কম্পিউটাৰত, আপুনি একেবাৰে নতুন ডাউনল'ড কৰিব পাৰে:
record-platform-not-supported-ios-non-safari = iOSত ৰেকৰ্ডিং সক্ৰিয় কৰিবলৈ অনুগ্ৰহ কৰি Safari-ৰে অব্যাহত ৰাখক…
record-must-allow-microphone = আপুনি মাইক্ৰ'ফ'নত প্ৰৱেশৰ অনুমতি দিবই লাগিব।
record-no-mic-found = মাইক্ৰ'ফ'ন পোৱা নাই।
record-error-too-short = ৰেকৰ্ডিংটো খুব চুটি আছিল।
record-error-too-long = ৰেকৰ্ডিংটো খুব দীঘল আছিল।
record-error-too-quiet = ৰেকৰ্ডিংটো খুব নিৰৱ আছিল।
record-cancel = পুনঃৰেকৰ্ড বাতিল কৰক
record-instruction = { $actionType }<recordIcon></recordIcon> পাছত বাক্যটো ফুটাই পঢ়ক
record-stop-instruction = { $actionType }<stopIcon></stopIcon> যেতিয়া হৈ যাব
record-three-more-instruction = আৰু তিনিটা বাকী!
record-again-instruction = বঢ়িয়া!<recordIcon></recordIcon>আপোনাৰ পৰৱৰ্তী ক্লিপ ৰেকৰ্ড কৰক
record-again-instruction2 = কৰি থাকক, আকৌ ৰেকৰ্ড কৰক <recordIcon></recordIcon>
record-last-instruction = <recordIcon></recordIcon> অন্তিম এটা!
review-tooltip = ক্লিপবোৰ ইয়াতেই সমীক্ষা কৰি পুনঃৰেকৰ্ড কৰক
share-clip = আপোনাৰ ক্লিপ ভাগ-বতৰা কৰক
share-common-voice = কমন ভইচ ভাগ-বতৰা কৰক
review-instruction = প্ৰয়োজন হ'লে ক্লিপবোৰৰ সমীক্ষা কৰি পুনঃৰেকৰ্ড কৰক
record-submit-tooltip = { $actionType } সাজু হ'লে দাখিল কৰিব
clips-uploaded = ক্লিপবোৰ আপল'ড হ'ল
record-abort-title = প্ৰথমে ৰেকৰ্ডিং শেষ কৰিবনে?
record-abort-text = এতিয়া এৰা মানে আপুনি আপোনাৰ প্ৰগতি হেৰুৱাব
record-abort-submit = ক্লিপবোৰ দাখিল কৰক
record-abort-continue = ৰেকৰ্ডিং শেষ কৰক
record-abort-delete = ওলাই যাওক আৰু ক্লিপবোৰ মচি পেলাওক
listen-instruction = { $actionType }<playIcon></playIcon>তেখেতে বাক্যটো সঠিককৈ কৈছেনে?
listen-again-instruction = বঢ়িয়া কাম! <playIcon></playIcon>আপুনি সাজু হ'লে আকৌ শুনিব
listen-3rd-time-instruction = 2টা হ'ল, কৰি থাকক!<playIcon></playIcon>
listen-last-time-instruction = <playIcon></playIcon>অন্তিম এটা!
listen-empty-state = এই ভাষাত বৈধকৰণ কৰিবলৈ আমাৰ ক্লিপ শেষ হৈছে...
speak-empty-state = এই ভাষাত ৰেকৰ্ড কৰিবলৈ আমাৰ বাক্য শেষ হৈছে...
speak-empty-state-cta = বাক্য অৱদান দিয়ক
record-button-label = আপোনাৰ কণ্ঠ ৰেকৰ্ড কৰক
share-title-new = আৰু মাত বিচৰাত <bold>আমাক সহায় কৰক</bold>
keep-track-profile = প্ৰ'ফাইল এটাৰে আপোনাৰ প্ৰগতিত চকু ৰাখক
login-to-get-started = আৰম্ভ কৰিবলৈ লগ ইন বা ছাইন আপ কৰক
target-segment-first-card = আপুনি আমাৰ প্ৰথম লক্ষ্য ছেগমেণ্টত অৱদান দি আছে
target-segment-generic-card = আপুনি এটা লক্ষ্য ছেগমেণ্টত অৱদান দি আছে
target-segment-first-banner = { $locale }ত কমন ভইচৰ প্ৰথম লক্ষ্য ছেগমেণ্ট সৃষ্টি কৰাত সহায় কৰক
target-segment-add-voice = আপোনাৰ মাত যোগ কৰক
target-segment-learn-more = অধিক জানক

## Reporting

report = সদৰি কৰক
report-title = প্ৰতিবেদন দাখিল কৰক
report-ask = আপুনি এই বাক্যটোত কি সমস্যা পাইছে?
report-offensive-language = ঘৃণাজনক ভাষা
report-offensive-language-detail = বাক্যটোত অপমানজনক বা ঘৃণাজনক ভাষা আছে।
report-grammar-or-spelling = ব্যাকৰণ / বানান ভুল
report-grammar-or-spelling-detail = এই বাক্যটোত ব্যাকৰণ বা বানান ভুল আছে।
report-different-language = বেলেগ ভাষা
report-different-language-detail = এয়া মই কোৱা ভাষাতকৈ কোনো বেলেগ ভাষাত লিখা আছে।
report-difficult-pronounce = উচ্চাৰণ কৰা কঠিন
report-difficult-pronounce-detail = এইটোত এনে কিছু শব্দ বা বাক্যাংশ আছে যিবোৰ পঢ়া বা উচ্চাৰণ কৰা কঠিন।
report-offensive-speech = আপত্তিজনক বক্তব্য
report-offensive-speech-detail = এই ক্লিপটোত অপমানজনক বা আপত্তিজনক ভাষা আছে।
report-other-comment =
    .placeholder = মন্তব্য
success = সফল
continue = অব্যাহত ৰাখক
report-success = প্ৰতিবেদন সফলভাৱে গৃহীত হ'ল

## Goals

streaks = ষ্ট্ৰিক্‌চ
days =
    { $count ->
        [one] দিন
       *[other] দিন
    }
recordings =
    { $count ->
        [one] টা ৰেকৰ্ডিং
       *[other] টা ৰেকৰ্ডিং
    }
validations =
    { $count ->
        [one] টা বৈধকৰণ
       *[other] টা বৈধকৰণ
    }

## Dashboard

your-languages = আপোনাৰ ভাষাবোৰ
toward-next-goal = পৰৱৰ্তী লক্ষ্যৰ দিশে
goal-reached = লক্ষ্যত উপনীত হৈছে
clips-you-recorded = টা ক্লিপ আপুনি ৰেকৰ্ড কৰিছে
clips-you-validated = টা ক্লিপ আপুনি বৈধকৰণ কৰিছে
todays-recorded-progress = কমন ভইচৰ আজিৰ ক্লিপ ৰেকৰ্ড কৰা প্ৰগতি
todays-validated-progress = কমন ভইচৰ আজিৰ ক্লিপ বৈধকৰণ কৰা প্ৰগতি
stats = পৰিসংখ্যা
awards = বঁটা
you = আপুনি
everyone = সকলোৱে
contribution-activity = অৱদান কাৰ্যকলাপ
top-contributors = শীৰ্ষ অৱদানকাৰীসকল
recorded-clips = ৰেকৰ্ড কৰা ক্লিপ
validated-clips = বৈধকৃত ক্লিপ
total-approved = মুঠ অনুমোদিত
overall-accuracy = সৰ্বমুঠ সঠিকতা
set-visibility = মোৰ দৃশ্যমানতা ছেট কৰক
visibility-explainer = এই ছেটিঙে আপোনাৰ লিডাৰব'ৰ্ডৰ দৃশ্যমানতা নিয়ন্ত্ৰণ কৰে। লুকুৱা থাকিলে আপোনাৰ প্ৰগতি গোপনে থাকিব। ইয়াৰ অৰ্থ হ'ল আপোনাৰ ছবি, ব্যৱহাৰকাৰী নাম আৰু প্ৰগতি লিডাৰব'ৰ্ডত দেখা নাযাব। মন কৰিব যে লিডাৰব'ৰ্ড সতেজ হ'বলৈ ~{ $minutes } মিনিট লাগে যাতে সেইটোত সাল-সলনি হয়।
visibility-overlay-note = মন কৰিব: 'দৃশ্যমান' হিচাপে ছেট কৰা থাকিলে এই ছেটিং <profileLink>প্ৰ'ফাইল পৃষ্ঠা</profileLink>ৰ পৰা সলনি কৰিব পাৰি
show-ranking = মোৰ ৰেংকিং দেখুৱাওক

## Custom Goals

get-started-goals = লক্ষ্যবোৰৰ সৈতে আৰম্ভ হৈ যাওক
create-custom-goal = এটা কাষ্টম লক্ষ্য সৃষ্টি কৰক
goal-type = আপুনি কেনেধৰণৰ লক্ষ্য তৈয়াৰ কৰিব খোজে?
both-speak-and-listen = দুয়োটা
both-speak-and-listen-long = দুয়োটা (কথা কওক আৰু শুনক)
daily-goal = দৈনিক লক্ষ্য
weekly-goal = সাপ্তাহিক লক্ষ্য
easy-difficulty = সহজ
average-difficulty = গড়
difficult-difficulty = কঠিন
pro-difficulty = প্ৰ'
lose-goal-progress-warning = আপোনাৰ লক্ষ্য সম্পাদনা কৰি আপুনি আপোনাৰ মজুত প্ৰগতি হেৰুৱাবও পাৰে।
want-to-continue = আপুনি অব্যাহত ৰাখিব বিচাৰে নেকি?
finish-editing = প্ৰথমে সম্পাদনা শেষ কৰিবনে?
lose-changes-warning = এতিয়া এৰি যোৱা মানে আপুনি আপোনাৰ সাল-সলনি হেৰুৱাব
build-custom-goal = নিজৰ হিচাপে লক্ষ্য গঢ়ক
help-reach-hours-pluralized =
    এটা ব্যক্তিগত লক্ষ্যৰে { $language } ভাষাত { NUMBER($hours) ->
        [one] { $hours } ঘণ্টা
       *[other] { $hours } ঘণ্টা
    }লৈ গৈ পোৱাত সহায় কৰক
help-reach-hours-general-pluralized =
    কমন ভইচক এটা ব্যক্তিগত লক্ষ্যৰে কোনো ভাষাত { NUMBER($hours) ->
        [one] { $hours } ঘণ্টা
       *[other] { $hours } ঘণ্টা
    }লৈ গৈ পোৱাত সহায় কৰক
set-a-goal = লক্ষ্য ছেট কৰক
cant-decide = সিদ্ধান্ত ল'ব পৰা নাই?
activity-needed-calculation-plural =
    { NUMBER($totalHours) ->
        [one] { $totalHours } ঘণ্টা
       *[other] { $totalHours } ঘণ্টা
    } প্ৰায় { NUMBER($periodMonths) ->
        [one] { $periodMonths } মাহ
       *[other] { $periodMonths } মাহ
    }তে পাব পাৰি যদি { NUMBER($people) ->
        [one] এগৰাকী ব্যক্তিয়ে
       *[other] { $people } গৰাকী লোকে
    } এদিনত { NUMBER($clipsPerDay) ->
        [one] { $clipsPerDay }টাকৈ ক্লিপ
       *[other] { $clipsPerDay }টাকৈ ক্লিপ
    } ৰেকৰ্ড কৰে।
how-many-per-day = বঢ়িয়া! এদিনত কেইটাকৈ ক্লিপ?
how-many-a-week = বঢ়িয়া! এসপ্তাহত কেইটাকৈ ক্লিপ?
which-goal-type = আপুনি কথা ক'ব, শুনিব নে দুয়োটা কৰিব বিচাৰে?
receiving-emails-info = আপুনি বৰ্তমান লক্ষ্যৰ ৰিমাইণ্ডাৰ, মোৰ প্ৰগতিৰ আপডেট আৰু কমন ভইচৰ বিষয়ে সংবাদপত্ৰৰ দৰে ইমেইল প্ৰাপ্ত কৰাটো ছেট কৰি থৈছে
not-receiving-emails-info = আপুনি বৰ্তমান লক্ষ্যৰ ৰিমাইণ্ডাৰ, মোৰ প্ৰগতিৰ আপডেট আৰু কমন ভইচৰ বিষয়ে সংবাদপত্ৰৰ দৰে ইমেইল প্ৰাপ্ত <bold>নকৰা</bold>টো ছেট কৰি থৈছে
n-clips-pluralized =
    { NUMBER($count) ->
        [one] { $count }টা ক্লিপ
       *[other] { $count }টা ক্লিপ
    }
help-share-goal = আমাক আৰু মাত বিচৰাত সহায় কৰক, আপোনাৰ লক্ষ্য ভাগ-বতৰা কৰক
confirm-goal = লক্ষ্য নিশ্চিত কৰক
goal-interval-weekly = সপ্তাহিক
# $type is one of share-goal-type-*
share-n-daily-contribution-goal = { $type }ৰ বাবে আপোনাৰ { $count }টা ক্লিপৰ দৈনিক লক্ষ্য ভাগ-বতৰা কৰক
# $type is one of share-goal-type-*
share-n-weekly-contribution-goal = { $type }ৰ বাবে আপোনাৰ { $count }টা ক্লিপৰ সপ্তাহিক লক্ষ্য ভাগ-বতৰা কৰক
share-goal-type-speak = কথা কোৱা
share-goal-type-listen = শুনা
share-goal-type-both = কথা কোৱা আৰু শুনা
# LINK will be replaced with the current URL
goal-share-text = মই এইমাত্ৰ #CommonVoice-ত মাত দান কৰাৰ বাবে এটা ব্যক্তিগত লক্ষ্য সৃষ্টি কৰিলোঁ -- মোক যোগদান কৰি আচল লোকে কেনেকৈ কথা পাতে সেয়া মেশ্বীনবোৰক শিকোৱাত সহায় কৰক { $link }
weekly-goal-created = আপোনাৰ সপ্তাহিক লক্ষ্য সৃষ্টি কৰা হৈছে
daily-goal-created = আপোনাৰ দৈনিক লক্ষ্য সৃষ্টি কৰা হৈছে
track-progress = ইয়াত আৰু আপোনাৰ পৰিসংখ্যা পৃষ্ঠাত প্ৰগতি ট্ৰেক কৰক।
return-to-edit-goal = আপোনাৰ লক্ষ্য সম্পাদনা কৰিবলৈ যিকোনো সময়তে ইয়ালৈ ঘূৰি আহক।
share-goal = মোৰ লক্ষ্য ভাগ-বতৰা কৰক

## Profile Delete

delete-q = আপুনি আপোনাৰ ভইচ ৰেকৰ্ডিংবোৰো মচি পেলোৱাৰ অনুৰোধ কৰিব বিচাৰে নেকি, নে আপুনি সেয়া কমন ভইচ ডেটাছেটত ৰখাটো পচন্দ কৰিব?
keep = ৰাখক
remove = আঁতৰাওক
keep-info = আপোনাৰ পৰিচয়বিহীন ভইচ ৰেকৰ্ডিংবোৰ কমন ভইচ ডেটাছেটত থাকি যাব। আপুনি এবাৰ কেৱল আপোনাৰ প্ৰ'ফাইল মচি পেলালেই আপুনি দুনাই ডেটাছেটৰ পৰা আপোনাৰ ৰেকৰ্ডিংবোৰ আঁতৰাবলৈ অনুৰোধ দাখিল কৰিব নোৱাৰিব
remove-info = ডেটাছেটৰ পৰা আপোনাৰ ভইচ ৰেকৰ্ডিংবোৰ আঁতৰাবলৈ কৰা আপোনাৰ অনুৰোধৰ আমি সমীক্ষা কৰিম। যদি আপোনাৰ অনুৰোধক অনুমোদন দিয়া হয়, আমি ডেটাছেট ডাউনল'ড কৰাসকলৰ সৈতে যোগাযোগ কৰিম আৰু তেওঁলোককো আপোনাৰ ভইচ ৰেকৰ্ডিংবোৰ আঁতৰাবলৈ অনুৰোধ জনাম।
why-delete-recordings =
    শৈক্ষিক, সৰু ব্যৱসায় আৰু কণ্ঠ চিনাক্তকৰণ উদ্যমীসকলে কণ্ঠ মডেলৰ দৰে ৰাজহুৱাকৈ উপলব্ধ সম্পদবোৰৰ প্ৰশিক্ষণ আৰু বিকাশ কৰিবলৈ কমন ভইচ ব্যৱহাৰ কৰে।
    
    আপুনি আপোনাৰ ৰেকৰ্ডিংবোৰ কিয় মচি পেলাবলৈ বিচাৰে আমাক জনাব পাৰিবনে?
profile-form-delete = প্ৰ'ফাইল মচি পেলাওক

## Profile Download

download-q = আপোনাৰ ডাটা ডাউনল'ড কৰিব লাগে নেকি?
download-info = আপুনি কি ডাউনল'ড কৰিব বিচাৰে আমাক কওক:
download-profile-title = প্ৰ'ফাইল
download-profile-info = ইমেইল, ব্যৱহাৰকাৰীনাম আৰু জনগাঁথনিমূলক তথ্য অন্তৰ্ভুক্ত
download-profile-size = কেইটামান বাইট
download-recordings-title = ৰেকৰ্ডিংবোৰ
download-recordings-info = mp3 আৰু আনুষংগিক বাক্য অন্তৰ্ভুক্ত
download-recordings-size = সাধাৰণতে মেগাবাইট
download-recordings-unavailable = ইতিমধ্যে আন এটা অনুৰোধৰ কাম চলি থকা অৱস্থাত আপুনি আপোনাৰ ৰেকৰ্ডিংবোৰৰ অনুৰোধ কৰিব নোৱাৰে।
download-recently-requested = আপুনি { $days } দিনৰ মূৰে-মূৰে আপোনাৰ ৰেকৰ্ডিংবোৰ আঁতৰাবলৈ নতুনকৈ অনুৰোধ কৰিব পাৰে।
download-size = আকাৰ
download-selected = বাছনি কৰিছে
download-start = ডাউনল'ড আৰম্ভ কৰক
download-request = ডাউনল'ডৰ অনুৰোধ কৰক
download-requests = পূৰ্বৰ ডাউনল'ডৰ অনুৰোধবোৰ
download-requests-info = যেতিয়া আপুনি আপোনাৰ ৰেকৰ্ডিংবোৰৰ অনুৰোধ কৰে, তেতিয়া আমি সেইবোৰ এটা বা কেইবাটাও ZIP ফাইলত সংকলন কৰোঁ। ইয়াত আপোনাৰ পূৰ্বৰ অনুৰোধবোৰ দিয়া হৈছে:
download-request-button = ডাউনল'ড কৰক
download-request-title = { $created }
download-request-description = { $clipCount }টা ভইচ ক্লিপ, আৰ্কাইভৰ মুঠ আকাৰ { $size }। { $expires } ম্যাদ উকলিব।
download-request-archive-single = এটাই ZIP ফাইল য'ত থাকিব
download-request-archive-multiple = { $archiveCount }টা ZIP ফাইলত বিভক্ত য'ত থাকিব
download-request-assembling-description = আপোনাৰ ফাইলসমূহ একত্ৰিত কৰি থকা হৈছে। অনুগ্ৰহ কৰি পাছত পুনৰ পৰীক্ষা কৰিব।
download-request-refresh-button = সতেজ কৰক
download-request-modal-title = ডাউনল'ড লিংকসমূহ
download-request-modal-description = আপোনাৰ ZIP ফাইলবোৰ ডাউনল'ড কৰাৰ লিংককেইটা ইয়াত দিয়া হৈছে।
download-request-link-text = { $total }টাৰ #{ $offset } নং Zip
download-request-metadata-link = বাক্য-পাঠ
download-request-link-single = আপুনি আপোনাৰ প্ৰিয় ডাউনল'ড মেনেজাৰত পোনপটীয়া URL কপি-পে'ষ্ট কৰিবও পাৰে। সেয়া 12 ঘণ্টাৰ ভিতৰত উকলি যাব যদিও আপুনি যিকোনো সময়তে নতুন এটা তৈয়াৰ কৰিবলৈ এই পৃষ্ঠালৈ ঘূৰি আহিব পাৰে।

## Landing

welcome-staff = স্বাগতম { $company } কৰ্মী!
help-contribute = কমন ভইচ প্ৰ'ফাইল এটা সৃষ্টি কৰি আৰু আপোনাৰ মাত দান কৰি আপুনি বৈচিত্ৰময়, মুক্ত-উৎসৰ ডেটাছেট নিৰ্মাণ কৰাত সহায় কৰিব পাৰে।
login-company = { $company } ইমেইলেৰে লগ ইন / ছাইন আপ কৰক
profile-not-required = অৱদান দিবলৈ প্ৰ'ফাইলৰ প্ৰয়োজন নহয় যদিও ই উপযোগী, তলত চাওক কিয়।
read-more-about = আমাৰ বিষয় পৃষ্ঠাত অধিক পঢ়ক

## DemoLayout

demo-get-started = ব'লক আৰম্ভ কৰোঁ
demo-welcome = কমন ভইচত আদৰণী জনাইছোঁ
demo-welcome-subheader = অধিক জনা আৰু প্ৰকল্পত অৱদান দিয়াৰ প্ৰতি আগ্ৰহীনে?

## Demo Datasets

demo-language-select-card-header = কমন ভইচ হৈছে বিশ্বৰ সৰ্ববৃহৎ ৰাজহুৱাভাৱে উপলব্ধ, বহু-ভাষিক ভইচ ডেটাছেট।
demo-language-select-card-body = 50ৰো অধিক ভাষাত 259 হাজাৰৰো অধিক লোকৰ অৱদানৰ কৃপাত, মানুহৰ মাতৰ প্ৰতি আৰু ভালদৰে সঁহাৰি জনোৱাৰ বাবে বাক-সক্ষম এপ্লিকেশ্যনবোৰক প্ৰশিক্ষণ দিবলৈ এই ডেটা ব্যৱহাৰ কৰি থকা হৈছে।
card-button-next = পৰৱৰ্তী
card-button-back = পিছলৈ
demo-language-select-label = ভাষাসমূহ ব্ৰাউজ কৰক
demo-eofy-header = 2019 এণ্ড-অৱ-ইয়েৰ ৰিলীজ
demo-eofy-sub_header = ভইচ ডেটাছেট, ডাউনল'ডৰ বাবে সাজু
demo-account = একাউণ্ট

## Demo Account

demo-account-card-header = অৱদান দিবলৈ একাউণ্টৰ প্ৰয়োজন নহয় যদিও ই উপযোগী।
demo-account-card-body = সোঁফালে আমি সুবিধাবোৰ থুলমুলকৈ বৰ্ণনা কৰোঁ আৰু আমি কি কি তথ্য ৰাজহুৱা কৰোঁ সেয়া স্পষ্ট কৰোঁ। আপোনাৰ নিজৰ ডিভাইচত কমন ভইচ একাউণ্ট এটাৰে আৰম্ভ কৰিবলৈ তলৰ লিংকবোৰ ব্যৱহাৰ কৰক।
demo-account-enter-email =
    .label = ছাইন আপ লিংক পঠিয়াবলৈ ইমেইল লিখক
demo-account-sign-up = ছাইন আপ লিংক পঠিয়াওক

## Demo Contribute

demo-contribute-card-header = আপোনাৰ মাত যোগ দিবলৈ বা শুনিবলৈ সাজু?
demo-contribute-card-body-v2 = এতিয়া আপুনি কমন ভইচৰ বিষয়ে অলপ বেছি জানেই যেতিয়া ব্যৱহাৰ কৰি নাচায় কিয়? বাক্য ফুটাই পঢ়া আৰম্ভ কৰিবলৈ মাইক্ৰ'ফ'ন আইকনটোত ক্লিক কৰক। <br/><br/>যদি আপুনি অন্যলোকৰ মাতৰ অৱদান সমীক্ষা কৰিব বিচাৰে, তেনেহ'লে প্লে' আইকনটোত ক্লিক কৰক। স্ক্ৰীণত লিখা বাক্যবোৰৰ সৈতে ৰেকৰ্ডিংবোৰ মিলা বুলি নিশ্চিত কৰাত আপুনি সহায় কৰিব।
demo-listen-subtitle = অৱদান দিবলৈ সাজুনে?

## Demo Dashboard

demo-dashboard-card-header = ব্যক্তিগত ডেশ্বব'ৰ্ডবোৰে আপোনাক গাইগুটীয়া আৰু সাম্প্ৰদায়িক প্ৰগতিৰ বিষয়ে আপ-টু-ডেট কৰি ৰাখে।
demo-dashboard-card-body = দান কৰা প্ৰতিটো ভইচ ক্লিপ আৰু বৈধকৰণ কৰা প্ৰতিটো অডিঅ' ক্লিপৰ বাবে আপুনি অৱদান দিয়া প্ৰতিটো ভাষাত আপোনাৰ শেহতীয়া প্ৰগতি প্ৰতিফলিত কৰিবলৈ আপোনাৰ একাউণ্টৰ ডেশ্বব'ৰ্ড আপডেট কৰা হয়। হয়, আপুনি এটাৰো অধিক ভাষাত অৱদান দিব পাৰে!<br/><br/> আপোনাৰ পৰিসংখ্যা ট্ৰেক কৰিবলৈ, আপুনি সম্প্ৰদায়ৰ অন্য লোকৰ লগত কেনেকুৱা কাম কৰি আছে চাবলৈ আৰু দৈনিক বা সাপ্তাহিক অৱদানৰ লক্ষ্য নিৰ্ধাৰণ কৰিবলৈ ডেশ্বব'ৰ্ডসমূহ ব্যৱহাৰ কৰক।

## Validation criteria

contribution-criteria-nav = মাপকাঠী
contribution-criteria-link = অৱদানৰ মাপকাঠী বুজক
contribution-criteria-page-title = অৱদানৰ মাপকাঠী
contribution-criteria-page-description = ভইচ ক্লিপবোৰ শুনোতে কি বিচাৰিব লাগে বুজি লওক আৰু আপোনাৰ ভইচ ৰেকৰ্ডিংবোৰ অধিক সমৃদ্ধ কৰাতো সহায় কৰক!
contribution-for-example = উদাহৰণস্বৰূপে
contribution-misreadings-title = ভুলকৈ পঢ়া
contribution-misreadings-description = শুনোতে অতি মনোযোগেৰে পৰীক্ষা কৰিব যে যি ৰেকৰ্ড কৰা হৈছে সেইটোৱেই লিখা আছে; আনকি সৰু-সুৰা ভুল থাকিলেও নাকচ কৰিব। <br />অতি সাধাৰণ ভুলবোৰৰ ভিতৰত থাকে:
contribution-misreadings-description-extended-list-1 = ৰেকৰ্ডিঙৰ আৰম্ভণিত <strong>ই, এই, এক, এয়া</strong> আদি নথকা।
contribution-misreadings-description-extended-list-2 = শব্দৰ শেষত প্ৰত্যয় যেনে– <strong>-ৰ, -লৈ, -টো, -খন</strong> আদি নথকা।
contribution-misreadings-description-extended-list-3 = লিখিত আৰু কথিত ৰূপৰ মাজত খেলিমেলি কৰা, যেনে– "কৰিবলৈ"ৰ ঠাইত "কৰিবলে’" আৰু "কৰিবলে’"ৰ ঠাইত "কৰিবলৈ" কোৱা।
contribution-misreadings-description-extended-list-4 = ৰেকৰ্ডিং অতি সোনকালে কাটি পেলোৱাত অন্তিম শব্দটোৰ শেষৰ ভাগ বাদ পৰি ৰোৱা।
contribution-misreadings-description-extended-list-5 = এটা শব্দ পঢ়িবলৈ কেইবাবাৰো চেষ্টা কৰা।
contribution-misreadings-example-1-title = এই প্ৰজাতিটো বিভিন্ন ধৰণৰ অৰণ্যত দেখা পোৱা যায়।
contribution-misreadings-example-2-title = এই প্ৰজাতি বিভিন্ন ধৰণৰ অৰণ্যত দেখা পোৱা যায়।
contribution-misreadings-example-2-explanation = [‘প্ৰজাতিটো’ হ'ব লাগে]
contribution-misreadings-example-3-title = এই প্ৰজাতিটো বিভিন্ন ধৰণৰ অৰণ্যত দেখা পোৱা যা-।
contribution-misreadings-example-3-explanation = [অন্তিম শব্দটো শেষ হোৱাৰ আগতেই ৰেকৰ্ডিং কটা গৈছে]
contribution-misreadings-example-4-title = এই প্ৰজাতিটো বিভিন্ন ধৰণৰ অৰণ্যত দেখা পোৱা যায়। হয়।
contribution-misreadings-example-4-explanation = [প্ৰয়োজনীয় পাঠতকৈ অধিক ৰেকৰ্ড কৰা হৈছে]
contribution-misreadings-example-5-title = আমি কফি খাবলৈ অলপ ওলাই যাওঁ।
contribution-misreadings-example-6-title = আমি কফি খাবলে’ অলপ ওলাই যাওঁ।
contribution-misreadings-example-6-explanation = [“খাবলৈ” হ'ব লাগে]
contribution-misreadings-example-7-title = আমি কফি খাবলৈ অলপ ওলাই যাম।
contribution-misreadings-example-7-explanation = [মূল পাঠত 'যাম' নাই]
contribution-misreadings-example-8-title = গছ এজোপাৰ তলত বহি।
contribution-misreadings-example-8-explanation = [মিল নথকা সমল]
contribution-varying-pronunciations-title = বিভিন্ন উচ্চাৰণ
contribution-varying-pronunciations-description = পাঠকে কোনো শব্দ ভুলকৈ উচ্চাৰণ কৰিছে, ভুল ঠাইত চাপ প্ৰয়োগ কৰিছে বা স্পষ্টভাৱে প্ৰশ্নবোধক চিহ্ন আওকাণ কৰিছে বুলি ক্লিপ এটা নাকচ কৰাৰ আগতে সাৱধান হ'ব। সমগ্ৰ বিশ্বত বিভিন্ন ধৰণৰ উচ্চাৰণ ব্যৱহাৰ কৰা হয়, য'ৰ কিছুমান আপুনি হয়তো আপোনাৰ স্থানীয় সমাজত শুনা নাই। অনুগ্ৰহ কৰি সেইসকল লোকৰ বাবে প্ৰশংসাৰ পৰিসীমা প্ৰদান কৰিব যিসকলে হয়তো আপোনাতকৈ বেলেগ ধৰণে কথা কয়।
contribution-varying-pronunciations-description-extended = আনহাতে, যদি আপুনি ভাবে যে পাঠকগৰাকীয়ে সম্ভৱতঃ আগতে কেতিয়াও শব্দটো শুনা নাই আৰু উচ্চাৰণটো ভুলকৈ অনুমানহে কৰিছে, তেনেহ'লে অনুগ্ৰহ কৰি নাকচ কৰিব। যদি আপুনি অনিশ্চিত, তেন্তে "এৰক" বুটামটো ব্যৱহাৰ কৰিব।
contribution-varying-pronunciations-example-1-title = পুখুৰীত মাছ মাৰি থকাৰ সময়ত।
contribution-varying-pronunciations-example-1-explanation = [‘পুখুৰী’টোক ‘পুখুঈ’ (মধ্য অসম) আৰু ‘সময়’টোক ‘হময়’ (উজনি) বা ‘খময়’ (নামনি) বুলিলেও কোনো কথা নাই]
contribution-varying-pronunciations-example-2-title = সমাগত বিধানসভা নিৰ্বাচন।
contribution-varying-pronunciations-example-2-explanation = [অসমীয়া ভাষাত ‘সমাগত’টোক ‘সমাগত্‌অ’ বুলি উচ্চাৰণ কৰা হয়, ‘সমাগত্’ নহয়]
contribution-background-noise-title = পটভূমিৰ কোলাহল
contribution-background-noise-description = আমি মেচিন লাৰ্ণিং এল্গ'ৰিদমে পটভূমিৰ বিভিন্ন কোলাহল পৰিচালনা কৰিবলৈ সক্ষম হোৱাটো বিচাৰোঁ আৰু তুলনামূলকভাৱে অত্যাধিক কোলাহলো গ্ৰহণ কৰিব পাৰি যদিহে সেইবোৰে আপোনাক সম্পূৰ্ণ পাঠ শুনাত বাধা নিদিয়ে। পটভূমিৰ নীৰৱ সংগীত চলি যাব; আপোনাক প্ৰতিটো শব্দ শুনাত বাধা দিয়া যথেষ্টখিনি উচ্চস্বৰৰ সংগীত নচলিব।
contribution-background-noise-description-extended = যদি ৰেকৰ্ডিংটো ভাঙি ভাঙি যায় বা চৰ্‌চৰ্ কৰে আৰু তাৰ ফলত সম্পূৰ্ণ পাঠ শুনা নগ'লে নাকচ কৰিব।
contribution-background-noise-example-1-fixed-title = <strong>[হাঁচি]</strong> এই প্ৰজাতিটো বিভিন্ন ধৰণৰ অৰণ্যত <strong>[কাহ]</strong> দেখা পোৱা যায়।
contribution-background-noise-example-2-fixed-title = এই প্ৰজাতিটো <strong>[কাহ]</strong> অৰণ্যত দেখা পোৱা যায়।
contribution-background-noise-example-2-explanation = [পাঠৰ কিছু অংশ শুনা যোৱা নাই]
contribution-background-noise-example-3-fixed-title = <strong>[কেল্‌কেলনি]</strong> প্ৰজাতিটো বিভিন্ন ধৰণৰ <strong>[কেল্‌কেলনি]</strong>-ণ্যত দেখা পোৱা যায়।
contribution-background-voices-title = পটভূমিৰ মাত
contribution-background-voices-description = পটভূমিৰ নীৰৱ কেল্‌কেলনি চলিব বাৰু, কিন্তু আমি অতিৰিক্ত মাত নিবিচাৰোঁ যাৰ ফলত মেচিন এল্গ'ৰিদমে লিখিত পাঠত নথকা শব্দ চিনাক্ত কৰিব পাৰে। যদি আপুনি পাঠৰ বাহিৰে বেলেগ শব্দ শুনা পায়, তেনেহ'লে ক্লিপটো নাকচ কৰা উচিত। সাধাৰণতে এনে তেতিয়া হয় যেতিয়া ওচৰতেই টিভি চালু কৰি থোৱা হয় বা কথা-বতৰা চলি থাকে।
contribution-background-voices-description-extended = যদি ৰেকৰ্ডিংটো ভাঙি ভাঙি যায় বা চৰ্‌চৰ্ কৰে আৰু তাৰ ফলত সম্পূৰ্ণ পাঠ শুনা নগ'লে নাকচ কৰিব।
contribution-background-voices-example-1-title = এই প্ৰজাতিটো বিভিন্ন ধৰণৰ অৰণ্যত দেখা পোৱা যায়। <strong>[এটা মাতেৰে পঢ়া হৈছে]</strong>
contribution-background-voices-example-1-explanation = তুমি যাবানে? <strong>[আন এগৰাকীয়ে মাত লগালে]</strong>
contribution-volume-title = ভলিউম
contribution-volume-description = পাঠকসকলৰ মাজত ভলিউমৰ প্ৰাকৃতিক প্ৰভেদ থাকিব। তেতিয়াহে নাকচ কৰিব যেতিয়া ভলিউম ইমানেই বেছি যে ৰেকৰ্ডিং ভাঙি ভাঙি যায় বা (আৰু সাধাৰণতে) যদি ইমানেই কম যে আপুনি লিখিত পাঠৰ সৈতে মিলাকৈ একো কোৱা শুনা নাপায়।
contribution-reader-effects-title = পাঠকৰ প্ৰভাৱ
contribution-reader-effects-description = সৰহভাগ ৰেকৰ্ডিং প্ৰাকৃতিক মাতেৰে কথা কোৱা মানুহৰ। আপুনি মাজে-সময়ে অ-মানবিশিষ্ট ৰেকৰ্ডিং গ্ৰহণ কৰিব পাৰে য'ত চিঞৰি বা ফুচ্‌ফুচাই কথা কোৱা হৈছে বা স্পষ্টভাৱে 'নাটকীয়' মাতেৰে প্ৰদান কৰা হৈছে। অনুগ্ৰহ কৰি গীত গোৱা ৰেকৰ্ডিং আৰু কম্পিউটাৰ-সংশ্লেষিত মাত ব্যৱহাৰ কৰাবোৰ নাকচ কৰিব।
contribution-just-unsure-title = অনিশ্চিতই নেকি?
contribution-just-unsure-description = যদি আপুনি এনে কিবা এটা লক্ষ্য কৰে যাক এই নিৰ্দেশনাবোৰে সাঙুৰি লোৱা নাই, তেন্তে অনুগ্ৰহ কৰি আপোনাৰ সৰ্বশ্ৰেষ্ঠ বিচাৰ অনুসৰি ভোট দিব। আপুনি সঁচাকৈয়ে সিদ্ধান্ত ল'ব নোৱাৰিলে "এৰক" বুটামটো ব্যৱহাৰ কৰি পৰৱৰ্তী ৰেকৰ্ডিঙলৈ যাব।
see-more = <chevron></chevron>অধিক চাওক
see-less = <chevron></chevron>কম চাওক
