## General

yes-receive-emails = Паро мельсэ, кучодо монень ёндолсёрмат. Ули мелем содамс седе тов, кода «Common Voice» проектэнть тевензэ молить.
stayintouch = Мозилласо пурнатано-кепедтяно вайгелень технологиянь перька ломанькуро. Паро мельсэ содавлинек, мезесь од, косто саевить датань од лисьмапрятне ды кода нолдатадо не дататнень тевс.
privacy-info = Макстано вал информацият мельга парсте ваномс. Ловнок седе тов <privacyLink>Салавачинь сёрмадовкссо</privacyLink>.
return-to-cv = Велявтомс мекев "Common Voice" сайтас
email-input =
    .label = ёндолсёрма
submit-form-action = Совавтомс
loading = Таргамозо моли...
email-opt-in-info = Паро мельсэ учан пельденк сёрмат, конатнесэ ёвтави «Common Voice» проектэнь норавкстнэде-цельтнеде, зяро ды кода монь путовкстнэ лэздыть ды конат пачтить проектэнь кулялопат.
email-opt-in-info-title = Сёрмадстык прят «Common Voice» проектэнть сёрмалемрисьмес
email-opt-in-info-sub-with-challenge = Кадык кучить  сёрмат «Common Voice» проектэнь од тевтнеде, норавкстнэде-цельтнеде, путовкстнэде-поладкстнэде ды проектэнь кулясёрмат.
email-opt-in-privacy-v2 = Кочкиндерясак ёндолсёрмань сёрмадстоманть, секеньсэ ёвтат арась проблемат тень марто, кода Мозилла нолды тевс содамочить, вант Мозиллань <privacyLink>Эсьтевень конёвтнэстэ</privacyLink>.
indicates-required = *Невти эрявикс пакся
not-available-abbreviation = Кодаяк а кандови те тевентень

# Don't rename the following section, its contents are auto-inserted based on the name (see scripts/pontoon-languages-to-ftl.js)
# [Languages]


## Languages

ab = Абхазонь кель
ace = Ачехень кель
ady = Адыгень кель
af = Африкансонь кель
am = Амгарикень кель
an = Арагононь кель
ar = Арабонь кель
arn = Мапудунгунонь кель
as = Ассамонь кель
ast = Астуриянь кель
az = Азербайджанонь кель
ba = Печказонь кель
bas = Басаань кель
be = Беларузонь кель
bg = Болгариянь кель
bm = Бамбарань кель
bn = Бенгалинь кель
br = Бретононь кель
bxr = Бурятонь кель
ca = Каталанонь кель
cak = Какчикелень кель
ckb = Куншка курдань кель
cnh = Хаха чинэнь кель
co = Корсикань кель
cs = Чехень кель
cv = Ветькень кель
cy = Кимринь кель
da = Даниянь кель
de = Немецень кель
dsb = Алце Сорбиянь кель
dv = Дивегинь кель
el = Грекень кель
en = Англань кель
eo = Эсперантонь кель
es = Испанонь кель
et = Эстононь кель
eu = Басконь кель
fa = Персидэнь кель
ff = Фулахонь кель
fi = Финнэнь кель
fo = Фарёронь кель
fr = Кранцузонь кель
fy-NL = Фризинь кель
ga-IE = Ирляндиянь кель
gl = Галициянь кель
gn = Гуаранинь кель
ha = Хаузань кель
he = Ивритэнь кель
hi = Хиндинь кель
hr = Кроациянь кель
hsb = Верце Сорбонь кель
ht = Гаитинь кель
hu = Венгрань кель
hy-AM = Арменэнь кель
hyw = Чивалгома ёнксонь арменэнь кель
ia = Интерлингуань кель
id = Индонесиянь кель
ie = Интерлингвень кель
is = Исландиянь кель
it = Италиянонь кель
izh = Ижорань кель
ja = Япононь кель
ka = Грузиянь кель
kaa = Каракалпаконь кель
kab = Кабилень кель
kbd = Карбардонь кель
ki = Кикуюнь кель
kk = Казахонь кель
kmr = Курманджинь курдань кель
ko = Кореань кель
kpv = Коми-зирянонь кель
kw = Корнинь кель
ky = Киргизэнь кель
lg = Лугандань кель
lij = Лигуриянь кель
lt = Литвань кель
lv = Латышень кель
mai = Майтилинь кель
mdf = Мокшонь кель
mg = Малагашонь кель
mhr = Лугамаринь кель
mk = Македониянь кель
ml = Малаяламонь кель
mn = Монголонь кель
mos = Моссинь кель
mr = Маратинь кель
mrj = Пандомаринь кель
ms = Малаень кель
mt = Малтань кель
my = Бурмань кель
myv = Эрзянь кель
nan-tw = тайванень кель (Миннан)
nb-NO = Норвегиянь букмолонь кель
ne-NP = Непалинь кель
nia = Ниасонь кель
nl = Недерландонь кель
nn-NO = Норвегиянь Нинорсконь кель
nyn = Нянколень кель
oc = Окситанонь кель
or = Одиянь кель
pa-IN = Пунжабинь кель
pap-AW = Папиаментонь кель (Арубань кель)
pl = Полшань кель
ps = Паштонь кель
pt = Португалонь кель
rm-sursilv = Сурсилванонь романшонь кель
rm-vallader = Романш Валладерэнь кель
ro = Руменэнь кель
ru = Рузонь кель
rw = Киньярвандань кель
sah = Сахань кель
sat = Санталинь кеь (Ол Чики)
sc = Сардиниянь кель
scn = Сицилиянь кель
shi = Шилянь кель
si = Синялань кель
sk = Словаконь кель
sl = Словениянь кель
so = Сомалинь кель
sq = Албанонь кель
sr = Сербень кель
sv-SE = Шведэнь кель
sw = Суахилинь кель
syr = Сирияконь кель
ta = Тамилэнь кель
te = Телугунь кель
tg = Таджикень кель
th = Таень кель
tl = Тагалогонь кель
tr = Туркань кель
tt = Татаронь кель
tw = Твинь кель
uby = Убыхень кель
udm = Удмуртонь кель
ug = Уйгуронь кель
uk = Украинань кель
ur = Урдунь кель
uz = Узбекень кель
vec = Венециянь кель
vi = Вьетнамонь кель
vot = Вадянь кель
yi = Идишень кель
yo = Йорубань кель
yue = Кантонезэнь кель
zh-CN = Мандаринань кель (Китаень)
zh-HK = Кантононь кель (Гонгконгонь)
zh-TW = Мандаринань кель (Тайванень)

# [/]


## Layout

speak = Кортамс
speak-now = Кортамс ней
datasets = Данной пурнавкст
languages = Кельть
about = Минденек
profile = Профиль
help = Лезкс
contact = Контакт
privacy = Приватоксчи
terms = Терминт
cookies = Нумолонь кшить
faq = Сеедьстэ максозь кевкстемат
content-license-text = Вайгельть-текстт-мезть саевить <licenseLink>Creative Commons лицензиясо</licenseLink>
share-title = Лездак тенек муемс ломанть, конат лездыть ловномс марямга текстт.
share-text = Лездак тонавтомс машинатненень, кода ломанть алкукс кортыть, ловнок марямга текстт.
link-copied = Ссылканть лангсто саезь копия
back-top = Мекев верев
logout = Лисемс

## Home Page

home-title = «Common Voice» -- те Мозиллань инициятива, кона лезды тонавтомс машинатнень ломанень алкуксонь кортамос.
default-tagline = «Common Voice» ушодксось -- Мозиллань тев, конаньсэ машинась тонавтови кортамо кода алкуксонь ломань.
home-cta = Лездак тенек, сёрмадстык эсь вайгелеть!!
wall-of-text-start = Вайгелесь эрьва чинь ломанень тев. Секскак минек талновты тевс нолдавиця вайгельтехнологиянь кастомась-кепедемась. Ансяк вайгельсистемань шкамга-теемга эряви ламодояк ламо вайгелень дата.
wall-of-text-more-mobile = Даннойтнень седе покш пельксэсь, конань тевс нолдыть корпорациятне, а понгить весенень. Те, минек коряс, лепшти инновациятнень.Секскак минь нолдынек Common Voice проект, конань норовксозо-целезэ - теемс весень туртов панжадокс вайгелень содавоманть.
wall-of-text-more-desktop = Ней маштови кучомс миненек эсь вайгелеть лездамга теемс келень даннойть, конатнень тевс нолдавлинзе эрьвась, кие теи неень шкань од приложеният ды сайтт. Машинатненень лездамга, кода кортыть алкуксонь ломантне, ёвтадо фразат, ванкшнодо лия лездыцятнень тевест, молезэ весе седе вадрясто. Те аволь стака.
wall-of-text-first = Вайгелесь эрьва чинь ломанень тев. Секскак минек талновты тевс нолдавиця вайгельтехнологиянь кастомась-кепедемась. Ансяк вайгельсистемань шкамга-теемга эряви ламодояк ламо вайгелень дата.
wall-of-text-second = Даннойтнень седе покш пельксэсь, конань тевс нолдыть корпорациятне, а понгить весенень. Те, минек коряс, лепшти инновациятнень.Секскак минь нолдынек Common Voice проект, конань норовксозо-целезэ - теемс весень туртов панжадокс вайгелень содавоманть.
show-wall-of-text = Ловномс седе тов
help-us-title = Лездак тенек ванномс вадря валрисьметь!
help-us-explain = Лепштика «кунсоловтомс» повненть, кунсолок ды ёвтак миненек: ало рисьмесь видестэ ёвтазь?
no-clips-to-validate = Маряви, арасть те кельсэнть кодаткак кунсоломань туртов сёрмадовкст. Лездак тенек теемс одт, тейть зярояк эсь пельде.
vote-yes = Истя
vote-no = Аволь
toggle-play-tooltip = Лепштик { shortcut-play-toggle }-нть кунсолома модонь аравтомга
speak-subtitle = Максык  вайгелеть сёрмадомс
speak-paragraph = Вайгельсэ валрисьмень ёвтамось панжадо данноень пурнамонь а явовикс пелькс; лиятнень туртов те, теке марто, мельстуиця тев.
speak-goal-text = Сёрмадозь клиптнеде
listen-subtitle = Лездак тенек ванномс вайгельтнень
listen-paragraph = Эрьва сыця сёрмадовкстнэнь ванномась пек эрявикс тев Common Voice-нь туртов. Кунсолодо сёрмадовкстнэнь ды лездадо тееемс вадря панжадо даннойть.
listen-goal-text = Ваннозь клипть
hours-recorded = Сёрмадозь частнэде
hours-validated = Ваннозь частнэде
voices-online = Зяро вайгельть ней алтымасонть
todays-progress = Течинь тевень поладксось
help-reach-goal = Лездак тенек пачкодемс { $goal } видьс
read-terms-q = Договоронок уш ловнык?
ready-to-record = Аноктадо лездамс вайгельсэнк?
all-locales = Весе
today = Течи
x-weeks-short =
    { $count ->
        [one] Тарго
       *[other] таргот
    }
x-months-short =
    { $count ->
        [one] ков
       *[other] ковт
    }
x-years-short =
    { $count ->
        [one] ие
       *[other] иеть
    }
help-make-dataset = Лездадо тенек теемс данноень пурнавкс, конась вадрясто теезь ды весенень панжадо
sign-up-account = Цюртак эстеть совамо тарка
email-subscription-title = Сёрмадстомс пря од содамочинь одкстомтоматнес
email-subscription-title-new = Сёрмадстынк прянк Common Voice кучоматнес, норовамонь мельс ледстнематнес ды одкстомтомань касомантень.

## Account Benefits

benefits = Прявт лезэ
rich-data = Лемтеме демографиянь данноень максомсто пештеде сынст пряс. Нолдамодо икеле минь тейсынек сынст лемтемекс.
improve-audio = Профилень содамочись вадрялгавты аудиоданнойтнень тевс нолдамост.
keep-track = Кирдть журнал седе, кода тевтне молить башка-башка кельтнень коряс.
compare-progress = Ванодо кода касоманк аравтови карадо-каршо лиятнень марто масторонь келес.
view-goals = Вант эсеть касомат мельга проектэнь ды норовамонь топавтомга.
join-newsletter = Улиндеряй мелеть, сёрмадстык прят минек ёндолсёрма лемрисьмес, мейле пачтятано проектэнь одкстомтоматнеде-од информациядо.

## What's public

whats-public = Весенень панжадо -- те мезе истямось?
email-not-public = А карматано максомо ёндолпочтат ломантненень.
recordings-and-locale-public = Весень туртов кармить панжадот теезь сёрмадовксонк ды сынт келест.
username-optin-public = Маштови теемс леметь весенень неявиксэкс эли кекшемс сонзэ.
demographic-deidentified-clarity-2 = Максозь а свал эрявикс демографиянь пелькстнэ (кода иеть, цёра, аваломань, кель, акцент ) зярдояк а кармить улеме неявиксэкс весень туртов тынк профильсэ ды  а сюлмавить тынк аккаунт марто. Башка сёрмадовкстнэ сюлмавить демографиянь пелькстнэ марто седе парсте анализэнь теемга, улиндеряй исковицянть мелезэ норовавтомс тонавтовиця моделенть башка демографической сегмент лангс.
username-email-not-demographic = А карматано сюлмамо совикуронь леметь ды ёндолпочтат нолдазь дататнень марто.

## Speak & Listen Shortcuts

# Must be one letter that appears in the translated { skip } string.
shortcut-skip = ю

## Listen Shortcuts

# Must be one letter that appears in the translated play-string inside of { shortcut-play-toggle-label }.
# Must be different from { shortcut-skip }, { shortcut-vote-yes } and { shortcut-vote-no }
shortcut-play-toggle = к
shortcut-play-toggle-label = Кунсоломс/Лоткавтомс
# Must be one letter that appears in the { vote-yes } string.
# Must be different from { shortcut-skip }, { shortcut-vote-no } and { shortcut-play-toggle }
shortcut-vote-yes = и
# Must be one letter that appears in the { vote-no } string.
# Must be different from { shortcut-skip }, { shortcut-vote-yes } and { shortcut-play-toggle }
shortcut-vote-no = а

## Speak Shortcuts

# Must be one letter that appears in the translated record-string inside of { shortcut-record-toggle-label }.
# Must be different from { shortcut-skip }, { shortcut-vote-yes } and { shortcut-vote-no }
shortcut-record-toggle = с
shortcut-record-toggle-label = Сёрмадомс/Лоткавтомс
shortcut-rerecord-toggle = [1-5]
shortcut-rerecord-toggle-label = Одкстомтомс клипенть
shortcut-discard-ongoing-recording = ESC
shortcut-discard-ongoing-recording-label = Лоткавтомс молиця сёрмадоманть
shortcut-submit = Велявтомс
shortcut-submit-label = Кучомс клипть
request-language-text = Келеть эзик муе зярс «Common Voice»-стэ?
request-language-text-learn = Исковадо, кода вешемс сонзэ тестэ.
request-language-button = Вешемс кель

## ProjectStatus

status-title = Ломань икелев ливтевить содамочи седе, зяро вайгелень сёрмадомат ды кодамо кельтнесэ.
status-contribute = Сёрмадык вайгелеть
status-hours =
    { $hours ->
        [one] час ваннозь те видьс!
       *[other] част ваннозь те видьс!
    }
# Variables:
# $goal - number of hours representing the next goal
status-goal = Икеле пелев норовамот: { $goal }
english = Англань кель

## ProfileForm

profile-form-username =
    .label = Тевс нолдыцянь лем
profile-form-native-language =
    .label = Тиринь кель
profile-form-additional-language =
    .label = Лия кель
profile-form-accent =
    .label = Кортавкс
profile-form-age =
    .label = Иеть
profile-form-gender-2 =
    .label = Сыме
leaderboard-visibility =
    .label = Невтемс монь тёкшсо
hidden = Кекшезь
visible = Неявикс
native-language =
    .label = Тиринь кель
profile-form-submit-save = Ванстомс
profile-form-submit-saved = Ванстозь
male = Цёра
female = Ава
# Gender
other = Лия
why-profile-title = Мезекс профилесь?
why-profile-text = Максындерят зярыя содамочи эсеть эйстэ, Common Voice - в кучозь аудиоданнойтне кармить улеме седе лезэвть кортавкстнэнь чарькодемасо ды сынст эрявикс ёнкстнэнь паролгавтомасо.
dashboard = Аравтомкат
build-profile = Теемс профиль
avatar = Аватар
goals = Норовамот
settings = Аравтомат
edit-profile = Витнемс-петнемс профилеть
profile-create-success = Пек паро, профилеть шказь!
profile-close = Пекстамс
profile-explanation = Кирдть журнал, вант кода тевтне молить эсеть профилсэ ды лездак тенек: улест вайгельданнойнек эрьва ёндо седе вадрят.
thanks-for-account = Сюкпря совамо таркат кемекстамонть кисэ! Ней адя тейсынек профайлат.
why-demographic = Мезекс те эряви?
why-demographic-explanation-2 = Лемтеме тевс нолдыцятнеде содамочись кода акцент, цёра, аваломань, паролгавтсызь аудиоданнойтнень, конатне эрявить кортавкстнэнь седе парсте чарькодемас. Тынк леменк ды э-почтань адресэнк зярдояк а совавтовить тынк максозь даннойтнень юткс ды эстенк маштови кочкамс: максомс леменк неявиксэкс эли кадомс сонзэ кекшезь.
accept-privacy = Мозиллань  <privacyLink>Эсь тевень Политикасонть<privacyLink> ледстязь информациянь ванстомась-тевс нолдамось маштови монень ды арасть проблемман сонзэ марто.
accept-privacy-title = Эсь тевень политика
login-identity = Совамовалонь ид
login-signup = совамс/сёрмадстомс эсь прянть
edit = Витнемс-петнемс
email-subscriptions = Кучомс ёндол сёрмасо сёрмадстомат
download-profile = Таргамс алтымасто монь датан
contribution-experience = Максодо питне Common Voice - сэ тевденк
skip-submission-feedback = Нолдамс вакска питнень максоманть
skip-submission-description = "Кучомс" повонь лепштямодо мейле Common Voice марто тевденк питнень максомась нолдави вакска ды теде мейле тыненк маштови седе тов сёрмадомс вайгель ды ванномс сёрмадозенть.
skip-submission-note = Тешкстамга: тыненнк икеле ладсо сави кочкамс сёрмадома ды кунсолома ютксо, путовксонь типень полавтомга.
off = Пекстамс
on = Нолдамс

## Profile - Email

browse-file-title = Тонгомс фотокув файла
browse-file = Ускт-правтт эли <browseWrap>вешнек</browseWrap>
connect-gravatar = Сюлмавомс Граватар вельде
gravatar_not_found = Ёндолпочтат туртов а муеви граватар
file_too_large = Кочказь файлась пек покш
avatar-uploaded = Аватарось тонговсь
max-file-size = весемеде ламо { $kb }кб

## Profile - Email

manage-subscriptions = Витнемс-петнемс сёрмадстоматнень
manage-email-subscriptions = Ванномс-витнемс одкстомтоматнеде сёрмадстоматнень
email-already-used = Ёндолпочтась нолдави тевс лия совамо таркасо
add-language = Поладомс кель
change-email-setings = Полавтык ёндолпочтань адресэть аравтоматнень вельде «Совамо туртов индикатор» пельксэсэнть

## FAQ

faq-title = Сеедьстэ максозь кевкстемат
faq-what-cv-q = Common Voice -- те мезе истямось?
faq-what-cv-a = Вайгелень содамо технологиясь одкстомты машинатне марто ве тевень тееманть, ансяк неень шкань тевс нолдавиця систематне пек питнейть ды патент марто. Common Voice -  Мозиллань инициативань пелькс, кона важоди улест вайгелень содамо технологиятне седе парт ды панжадот весень туртов. Common Voice - те пек покш сёрмадозь вайгелень пурнавкс, кона максы эрьванень бойкасто ды шождасто тонавтомс вайгельпурнавкстнэнь малав весе кельтнесэ.
faq-what-cv-a-2 = Вайгелень содамо технологиясь одкстомты машинатне марто ве тевень тееманть, ансяк неень шкань тевс нолдавиця систематне пек питнейть ды патент марто. Common Voice -  Мозиллань инициативань пелькс, кона важоди улест вайгелень содамо технологиятне седе парт ды панжадот весень туртов. Common Voice - те пек покш сёрмадозь вайгелень пурнавкс, кона максы эрьванень бойкасто ды шождасто тонавтомс вайгельпурнавкстнэнь малав весе кельтнесэ. Минь пурнатано вайгелень парцунт аволь ансяк пек покш кельтнестэ, вишка кельтнестэяк. Эрьва кодамо келень ламочись максы теицятненень, тевс нолдыцятненень ды сообществатненень эстест витнемс асатыкстнэнь. Common Voice даннойтнень пештемга минь истяжо тейтяно механизмат, конат содасызь кортавкстнэнь. Сынст кодост панжадот ды лемест Deep Speech.
faq-why-important-q = Мезекс эряви?
faq-why-important-a = Кортамось - эрямосо ломань ютксо кортамонь способ. Вайгелень технологиятнень тевс нолдамось телефонсо ды превей машинатнесэ пек шожда. Минек ули меленк максомс теицятненень неень шкань вайгелень содыця путовкст, истят кода теке шкасто кельстэ ютавтыцят ды цифровой лездыцят вайгель марто. Ансяк ней седе покш вайгелень даннойтне , конат эрявить истямо путовксонь теемстэ пек питнейть ды патент марто. Минь кемтяно, Common Voice - нь пурнавксось максы теицятненень сень, мезе эряви од тевень ветямонтень ды тейсынзе кортамонь технологиятнень панжадокс эсь тиринь кельсэ. Вайгелень содамо тевенть седе парсте теемга минь пурнатано вайгелень парцунт пек покш кельтнестэ ды аволь покш кельтнестэяк, мезенень а свал максови питне  комерческой кортавксонь содамонь службатнесэ. Ламо вайгелень пурнавксонь нолдамось весень туртов максы теицятненень, тевс нолдыцятненень ды целанек кортамонь сообществатненень эстест витнемс те асатыксэнть.
faq-how-get-q = Кода таргамс «Common Voice» датанть?
faq-how-get-a = «Common Voice» данной пурнавксось таргави <licenseLink>CC0</licenseLink> лицензиясо <datasetLink>Данной пурнавксонок лопасто</datasetLink>. Секе лопастонть маштовить таргамс ламо лия данной пурнавкст, конат уш ломань икеле.
faq-when-release2-q = Зярдо кармат нолдамо «Common Voice» максовкст-даннойть лия кельсэ?
faq-when-release2-a = Common Voice - нь ламо кельсэ данноень пурнамо версиясь ней юты вейсэндявома ды валидация.Улиндеряй меленк лездамс миненек ютавтомс Common Voice лия кельс, совадо <sentenceCollectorLink> лопа лангс валрисьмень пурнамга, </sentenceCollectorLink> од валрисьмень пурнамга ды Мозилла <pontoonLink>Pontoon</pontoonLink>  веб-сайтэнь ютавтомга. Од кельтне совавтовить Common Voice -с, зярдо тосо уш улить 5000 кемекстазь валрисьме.
faq-why-mission-q = Мейс «Common Voice»-сь совавтозь Мозиллань миссиянзо пельксэкс?
faq-why-mission-a = Мозилла топавты мелензэ - улезэ Инеалтымась панжадо весень туртов. Тень теемга миненек эряви келейгавтомс теицятнень мелест-норовамост истямо проектэнь вельде кода Common Voice. Вайгелень технологиятне туить нишань путовкстнэнь томбалев ды секскак сыненст эряви вейкетьстэ ваномс мель тевс нодыцятнень. Те - путомс ярмак седе ламо кельс, саемс мельс эрьва кодат акцент ды демогррафият вайгелень технологиянь теемстэ ды ванномсто. Common Voice - те весень туртов кедь маласо ресурс, конань активнойстэ нолдыть тевс Мозиллань теицятне ды командатне масторонь перька эсест проекттнэсэ.
faq-what-cv-and-deepspeech-q = Мейсэ явовить «Common Voice» ды «Deep Speech»?
faq-is-goal-assistant-q = «Common Voice»  проектэнть нововаксозо теемс вайгелень сёрмадомань лезды кедь?
faq-is-goal-assistant-a = «Common Voice» данной пурнавксонть норовавксозо лездамс кинень понгсь мода лангсо тееме вайгелень-кортыцянь содамо ды лия механизмат, конатнень теемс эряви вайгелень даннойть. Вайгельсэ лезды кедесь ансяк вейке механизма ламо типтнень эйстэ, конатнень теемс данной пурнавксось лади.
faq-do-want-native-q = Мон аволь тиринь келень кортыцян ды кортамо лувом коряс содаван. Тень лангс апак вано вайгелем эряви?
faq-do-want-native-a = Эряви. Миненек самай тонь вайгелесь эряви! «Common Voice» проектэнть норовавкссо ве пельксэсь пурнамс ламонь-ламонь кортамо лувт важодезэ вайгелень содавомась эрьвань туртов вейкетьстэ. Лиякс меремс, аволь тиринь келень кортыцятнень путовксосткак пек эрявить.
faq-why-different-speakers-q = Мейс эрьва келень туртов эрявить истянь зяро кортыцят?
faq-why-my-lang-q = Мейс монь келесь зярс апак совавто?
faq-what-quality-q = Пек вадря эряви улемс аудио клипенть уликсчинстэнь данной пурнавксос совавтомга?
faq-why-10k-hours-q = Мейс эрьва келенть туртов путозь 10.000 часонь кемекстамось аудиопурнамонь норовамокс?
faq-why-10k-hours-a = Истянь зярошка час эряви «вайгельстэ текст» системань тонавтомас.
faq-how-calc-hours-q = Кода «Common Voice» ловны частнэсэ?
faq-where-src-from-2-q = Косто саевсь лисьмапрятекстэсь?
faq-where-src-from-2-a = Минек лисьмапрятекстэсь ашти оригиналной тексттнэстэ, карадо-каршо кортнематнестэ, конатне саезь весенень панжадо фильмень тексттнэстэ, мертяно <italic>It’s a Wonderful Life</italic>.  Лисьмапрятексттнэнь мусынк вана те <githubLink>GitHub керьмазстонть</githubLink>.
faq-why-not-ask-read-q = Мекс а вештядо ломантнень пельде ловност башка-башка кельстэ кинигат эли Википедиянь сёрмадовкст?
faq-why-account-q = Мейс монень теемс совамо тарка?
faq-is-account-public-q = Совамо таркам информациясь весенень панжадо?
faq-how-privacy-q = Кода карматано содамо вайгелень максыцясь лияды апак сода, кода ванстомс максыцянть кода лемтеме лездыця?
faq-what-determine-identity-q = Кода чарькодемс: "а содави кинь" вайгелезэ «Common Voice» датапурнавксо?
faq-what-is-cv = «Common Voice» те мезе истямось?
faq-using-cv = «Common Voice-нть» тевс нолдамозо
faq-description = «Common Voice» – те Мозиллань ушодксонть пельксэзэ, кона лезды тонавтомс машинатненень ломанень алкукс кортамос.
faq-search-for-answers =
    .label = Вешнемс каршо вал

## ABOUT US

about-title = Мезекс «Common Voice»?
about-subtitle = «Common Voice» те Мозиллань ушодксонзо пельксэзэ, конаньсэ тонавты машинат кортамо алкукс ломанень ладсо. Common Voice данной пурнавксто башка, минь тейтяно вайгелень содамо машина, лемезэ «Deep Speech» (эрзякс Домка Кортамо), сонзэ кодозо олясо -- весенень панжадо.
how-does-it-work-title = Кода «Common Voice» тевесь моли?
about-speak = Кортак
about-speak-text = Лезксэнь максыцятне сёрмадыть эсь вайгельсэ клипть валрисьмень пурнавксонь ловнозь.
about-listen-queue = Кунсоломань чипола
about-listen-queue-text = Вайгельсэ сёрмадозь клиптне совавтовить пурнамо чиполас, конаньстэ муевить кунсоломс.
about-listen = Кунсолок
about-listen-text = Кунсолыцятне ванныть максозь клиптнень, ды ванкшныть ловныцясь алкукс ловнось мезе сёрмадозь.
about-is-it-valid = Клипесь ваннозь?
about-is-it-valid-text = Вайгельсэ сёрмадозь клипесь "ваннозь", зярдо кунсолыцязо каи вайгель кисэнзэ.
about-yes-votes = ≥ 2 Вайгельть каязь тень кисэ
about-yes-votes-text = Common Voice данной пурнавксос совамга, вайгельсэ сёрмадозь клипентень эряви кавто кунсолыцянзо ваннома.
about-no-votes = ≥ 2 Вайгельть каязь тень каршо
about-no-votes-text = Зярдо кунсолыця ёрты вайгелень клип, клипесь велявты мекев чиполас. Понгиндеряй омбоцеде ёртомас, вайгелень клипесь путови клипень калмазырьс.
about-dataset-new = Common Voice данной пурнавкс
about-dataset-new-text = Common Voice данной пурнавкссонть тёжань-тёжань вайгельсэ сёрмадовкст, конаньсэ пурнавить-теевить вайгелень содамга кедьёнкст.
about-clip-graveyard = Клипень шукшпря
about-clip-graveyard-text = Клипень шукшпрясонть вайгелень клипть, конатне эзть понго Common Voice данной пурнавксос. Клипень шукшпрясь кода и Common Voice данной пурнавксоськак маштови таргамс эсеть содымашиназот.
about-partners = Ялгат
about-become-a-partner = Теевемс ялгакс
about-partnership = Common Voice -- те вейсэнь проект сехте покш зярс теезетнень ютксто, кона пурны панжадо вайгелень даннойть ды конань теемазо ашти кода теицянок, истя партнеронок вейсэнь тевень молемадо. Ули меленек ёвтамс сюкпря неть ломантненень ды организациятненень, конат лездасть те проектэнть топавтомасо:
about-get-involved = Кундамс вейсэнь тевс
about-get-involved-text-2 =
    Лездавлить вадрялгавтомс «Common Voice» проектэнть?
    Пек паро! Кучт тенек ёндолсёрма эли совак <discourseLink>Discourse</discourseLink> 
    вальмас, кучт сайтэнь проблемат <githubLink>GitHub</githubLink> issues-со, эли совак
    минек <matrixLink>Matrix</matrixLink> куронь чатс.
about-nav-why-common-voice = Мезекс ?
about-nav-how-it-works = Кода ?
about-nav-partners = Ялгат
about-nav-get-involved = Кундамс вейсэнь тевс
mycroft-title = Mycroft Ai
mycroft-subtitle = Шкинезь прев
mycroft-description = Mycroft -- масторлангонь васенце вайгель марто лездыця, конань панжадо кодозо. Mycroft важоди эрьва косо -- компьюторсо, автомобильсэ или Raspberry Pi-сэ.
mycroft-secondary-description = Те панжадо код марто программань топавтома, конань маштови шождасто полавтомс, келейгавтомс ды паролгавтомс. Mycroft маштови нолдамс тевс эрьва кодамо отраслясо, наукань проектстэ саезь компоративной программань топавтома витс.

## Glossary

glossary = Валкске
localization = Эсь кельс ютавтома
localization-explanation = Те текстэнь-вайгелень ютавтомань-ладямонь минек процессэсь ламо келень туртов.
sentence-collection = Валрисьмень пурнавкс
sentence-collection-explanation = Пурнамс весенень панжадо валрисьметь, эли сёрмадомс од валрисьметь весенень панжадо улест.
hours-recorded-explanation = Вайгелень сёрмадома зяро час те шкамс пурнавсь.
sst = Кортамосто текст (STT)
sst-explanation = Кортамосто текст (STT) технологиясо вайгелень датась полавтови текстэкс.
de-identified = Идентификациязо нардазь

## Error pages

error-title-404 = Лопась эзь муеве тонь туртов
error-content-404 = Киздасы, паряк <homepageLink>прявт лопанок</homepageLink> лезкс максы? Кевкстемань максомга, совак инескеть <matrixLink>Матрикс куронь чатс</matrixLink>, вант сайтань кевкстематнень мельга <githubLink>GitHub</githubLink> issues, ули мелеть токак <discourseLink>Discourse форумозонок</discourseLink>.
error-title-503 = Минек апак учо каладсь системась
error-code = Ильведевкс { $code }

## Data

data-download-button = Таргамс «Common Voice» дата
data-download-yes = Истя
data-download-deny = Арась
data-download-license = Лицензиясь: <licenseLink>CC-0</licenseLink>
data-download-modal = Таргиксат <size>{ $size }GB</size>, таргамс?
data-subtitle = Пурнатано вайгельде аштиця, весенень панжадо датапурнавкс, конась маштови нолдамс кортамо марто аппликациянь тонавтомас.
data-get-started = <speechBlogLink>Ушодт вайгелень содамо тевсэ сокарямо</speechBlogLink>
data-other-title = Вайгелень лия данной пурнавкст...
data-other-goto = Молемс «{ $name }» таркас
data-other-download = Таргамс Даннойтнень
data-bundle-button = Таргамс данной пурнавкс керьмаз
data-bundle-description = Common Voice даннойть вейсэ весе лия данной пурнавкс марто, конатне вере максозь.
release-version = Версия
dataset-date = Ие-ков-чи
license = Лицензиясь: <licenseLink>{ $license }</licenseLink>
license-mixed = Човор
data-download-singleword-title = Таргинк норовамо сегментэнть «Вейке вал»
data-download-singleword-callout-v2 = Те сегментэсь норовазь башка явозь тев лангс, эйсэнзэ улить даннойть, конат паролгавтыть цифрань ды валтнэнь «истя»/« аволь» чарькодеманть.
review-terms = «Common Voice»-энь тевс нолдазь, невтят ве мельс прат минек <termsLink>Условиятнень</termsLink> ды <privacyLink>Эсь тевень конёвонть</privacyLink> марто.
terms-agree = Каршо а молян
terms-disagree = Каршо молян
review-aborted = Материалонь тонгомась лоткавтозь. Ули мелеть нардамс эсеть лентас сёрмадовкстнэнь?
review-submit-title = Одов кунсоломс & Совавтомс
review-submit-msg = Сюкпря лентас сёрмадовкстнэнь кисэ!<lineBreak></lineBreak>Ней, одов кунсолытя ды совавтытя эсеть клиптнэнь ало.
review-recording = Лентас сёрмадовксонь кунсолома
review-rerecord = Сёрмадомс одов
review-cancel = Нардамс мезе совавтыть
review-keep-recordings = Ванстомс лентас сёрмадовкстнэнь
review-delete-recordings = Нардамс мезе лентас сёрмадынь

## Datasets Page

datasets-headline = Минь тейтяно весенень панжадо, ламо кельсэ вайгелень данной пурнавкс, кона маштови кинень мелезэ нолдамс тевс, зярдо тонавты чарькс программа вайгелень содамос.
language = Кель
# File size in gigabytes
size = Покшолма
validated-hr-total = Зяро част ваннозь весемезе
overall-hr-total = Зяро част весемезе
cv-license = Лицензия
audio-format = Аудионь формат
number-of-voices = Зяро вайгельтнеде
splits = Явомат
email-to-download = Таргамга совавтык ёндолсёрма адресэть
why-email = <b>Мезекс ёндолпочтась?</b> Сы шкасто, кие соды, лисить данной пурнавкссонок полавтовомат. Ёндолпочтась максы тенек мейсэ муемс лездыцятнень.
confirm-size = Ней анокат таргамо даннойть, конатнень покшолмаст <b>{ $size }</b>
size-gigabyte = ГБ
size-megabyte = МБ
confirm-no-identify = <b>Тынь ве мельс пратадо</b> а снартнемс содамо Common Voice данной пурнавкссонть кортыцятнень
download-language = Таргамс { $language }
validated-hours = Ваннозь част
recorded-hours = Сёрмадозь част
whats-inside = Мезе «Common Voice» датасетсэнть?
dataset-description-hours =
    Данной пурнавксонть эрьва данной пакшкесэ эсензэ лиясо авастневиця MP3 ды мартонзо сюлмазь текстфайла. Данной пурнавксонть <b>{ $total }</b> сёрмадозь часонзо эйстэ ламо пакшкетнесэ теицянзо ланга метадатаяк, невтемань кисэ зяро иензэ, цёра эли ава, кортамо лувозо, конатась лезды тонавтомо машинатненень седе парсте вайгелень содамос.
    
    Течи данной пурнавкссонть <b>{ $valid }</b> ваннозь част <b>{ $languages }</b> кельсэ. Седе тов яла поладтано башка вайгельть ды кельть. Варштакая <languagesLink>Келень лопа лангс</languagesLink> саиндерятанзат мель вешемс од кель эли максомс тенек лезкс.
want-dataset-update = Паро мельсэ учат пельденек од версиядо куля, зярдо Common Voice нолды данноень од пурнавкс? Сёрмадстык эсь прят кулялопазонок.
subscribe = Сёрмадстомс
get-started-speech = Ушодомс кортамосто келень-смустень содамо-кундамо ёндо
other-datasets = Вайгелень лия данной пурнавкст
feedback-q = Мельполадксот улить?
resource-nemo-info = <githubLink>NVIDIA NeMo</githubLink>™ те <docsLink>весенень панжадо кедьёнкс парго</docsLink>, конась алтазь ванкшныцятненень, конатне саить мель кастомс-кепедемс ломанень теевкс валонь прев кортнемань моделт.
resource-deepspeech-info = Мозиллань Deep Speech (эрзякс Домка Кортамо) весенень панжадо вайгелень содамо машиназо маштови нолдамс тевс вайгелень содамо чарькс программань теемстэ. Ловнок <githubLink>Github тевтнеде</githubLink> эли совак <discourseLink>DeepSpeech Дискурсияс</discourseLink> вана тосо кармат содамо, кода кундамс тевс.
resource-coqui-info = <coquiLink>Coqui</coquiLink>-сь алтазь весенень панжадо вайгелень технологияс. «Coqui»-нь проекттнэсэ STT (кортамосто-текстэнь) ды TTS (текстстэ-кортамонь) машинат, конатне теезь «deep learning» (эрзякс домкасто тонавтнема) лангс нежедезь.
community-playbook = Теиця куронь кунсолома журнал
data-other-ted-name = «TED-LIUM» Корпус
data-other-ted-description = «TED-LIUM» Корпусось пурназь «TED» сайтсэ максозь аудио кортамотнень ды сынст транскрипцияст эйстэ.
data-other-voxforge-description = VoxForge путозель транскрибировазь кортамонь пурнамга, конась нолдави тевс олясо ды весенень панжадо вайгелень содамга механизматнесэ.
data-other-tatoeba-description = «Tatoeba» те валрисьмень, ютавксонь ды кортамо аудионь покш данбаза, конась арсезь келень тонавтнемс. Тень таргасак, муят кортамо англань кель, конань сёрмадызе англань келень ломанькурось.
your-feedback = Улить арсемат, кода вадрялгавтомс «Common Voice» данной пурнавксонть? Ёвтнек тенек теде «Discourse» вальмасо
go-discourse = Совамс «Discourse» вальмас
missing-language = А неят эсеть келеть ёнксонзо данной пурнавксонть эйстэ? Келень вешемга, мольть Келень лопазонок.
go-languages-page = Совамс келень лопас
ready-to-validate = Аноктадо валрисьмень ванномс?
more = Седе тов
close = Пекстамс
download = Таргамс
dataset-version = Версия

## Download Modal

download-title = Таргамот ушодовсь.
download-helpus = Лездак тенек путомс-аравтомс вайгельтехнологиянь перька ломаньпурнавкс, кирдть контакт ёндолсёрма вельде.
download-form-email =
    .label = Совавтык ёндолсёрмапаргот
    .value = Сюкпря, сёрмадтано тенть.
download-back = Велявтомс «Common Voice» датапурнавкстнэс
download-no = А эряви

## Contact Modal

contact-title = Контактонь анкета
contact-form-name =
    .label = Лем
contact-form-message =
    .label = Пачтямне
contact-required = *эряви

## Request Language Modal

request-language-title = Келень вешема
request-language-form-language =
    .label = Кель
request-language-success-title = Келень вешемат совавтовсь, сюконятано.
request-language-success-content = Курок пачтятано тенть седе ламо информация, косо ёвтави кода совавтомс эсеть келеть «Common Voice»-эс.
select-language = Кочкамс кель...
other-language = Лия кель

## Languages Overview

language-section-in-progress = Тевесь моли
language-section-in-progress-new-description = Неть кельтнень кастыть-кепедить эсест ломанест. Башка кельтнень рогрессэст неяви лазнэсэ максозь цифратнень коряс, конатне невтить кона видьс пачкодсь <localizationGlossaryLink>сайтань ютавтомась</localizationGlossaryLink> ды зяро пурнавсть <sentenceCollectionGlossaryLink>валрисьметнеде</sentenceCollectionGlossaryLink>.
language-section-launched = Нолдазь
language-section-launched-description = Неть нолдазь кельтнень туртов сайтатне  вадрясто-парсте <localizationGlossaryLink>ютавтозь</localizationGlossaryLink>, седе башка сатышка <sentenceCollectionGlossaryLink>валрисьметнеде пурназь</sentenceCollectionGlossaryLink> <speakLink>Кортамонь</speakLink> ды <listenLink>Кунсоломань</listenLink> тевтнень топавтомга.
languages-show-more = Неемс седе ламо
languages-show-less = Неемс седе аламо
language-meter-in-progress = Поладксонь молемась
language-total-progress = Весемезе
language-search-input =
    .placeholder = Вешнемс
language-speakers = Кортыцятнеде
localized = Ютавтозь эсь кельс
sentences = Валрисьметь
total-hours = Ваннозь част

## Contribution

action-click = Лепштямс
action-tap = Токамс
contribute = Максомс лезкс
listen = Кунсоломс
skip = Ютамс вакска
shortcuts = Керязь кить
clips-with-count-pluralized =
    { $count ->
        [one] Клип
       *[other] Клипть
    }
goal-help-recording = Лездыть Common Voice-нень пачкодеме <goalPercentage></goalPercentage> видьс минек эрьва чинь  вайгельсэ сёрмадомань { $goalValue }  норовавксонть эйстэ!
goal-help-validation = Лездыть Common Voice-нень пачкодеме <goalPercentage></goalPercentage> видьс минек эрьва чинь  вайгельсэ сёрмадовксонь ванномань { $goalValue } норовавксонть эйстэ !
contribute-more =
    { $count ->
       *[other] Анокат теемс таго { $count }?
    }
record-cta = Ушодомс сёрмадоманть
record-platform-not-supported = Илямизь чумондо, платформат. туртов арасть эрявикс аравтомат.
record-platform-not-supported-desktop = Столь лангсо содымашинатнес маштови таргамс меельце:
record-platform-not-supported-ios-non-safari = iOS-сэ вайгелень сёрмадоманть нолдамга, нолдынк Safari тевс, инескеть...
record-must-allow-microphone = Эряви максомс микрофононтень нолдавомань видечить.
record-no-mic-found = А муеви микрофон.
record-error-too-short = Лентас те сёрмадовксонть кувалмозо а саты.
record-error-too-long = Лентас те сёрмадовксось таргавсь куватьс.
record-error-too-quiet = Лентас те сёрмадовксонть гайтезэ аламо.
record-cancel = Лоткавтомс олов вайгелень сёрмадомась
record-instruction = { $actionType }<recordIcon></recordIcon> мейле ловнык валрисьменть марямга
record-stop-instruction = { $actionType }<stopIcon></stopIcon> зярдо прядозь
record-three-more-instruction = Лиядсть колмо!
record-again-instruction = Пек паро! <recordIcon></recordIcon> Сёрмадт седе тов вейке клип
record-again-instruction2 = Вадрясто теят, одов сёрмадт <recordIcon></recordIcon>
record-last-instruction = Меельце!
review-tooltip = Кунсоломс & сёрмадомс лентас одов кува тев теят
share-clip = Явшемс клипеть
share-common-voice = Явшемс «Common Voice»
review-instruction = Одов кунсоломс & лентас сёрмадомс кува эряви
record-submit-tooltip = { $actionType } совавтомс зярдо анокат
clips-uploaded = Зяро клипть тонгозь
record-abort-title = Васня сёрмадоманть прядомс?
record-abort-text = Лисиндерят нейке, поладома теветь ёми
record-abort-submit = Совавтомс клипть
record-abort-continue = Прядомс лентас сёрмадоманть
record-abort-delete = Лисемс & Нардамс клиптнень
listen-instruction = { $actionType } <playIcon></playIcon> истя кода эряви ёвтызь валрисьменть?
listen-again-instruction = Пек паро! <playIcon></playIcon> Кунсолок одов, зярдо кенерят
listen-3rd-time-instruction = 2 теезь, ней седе тов! <playIcon></playIcon>
listen-last-time-instruction = <playIcon></playIcon> Меельцесь!
listen-empty-state = Весиясть те кельсэнть кемекстамс руликенек...
speak-empty-state = Весиясть те кельсэнть ловномс валрисьменек...
speak-empty-state-cta = Максомс лезкс валрисьмесэ
record-button-label = Сёрмадомс вайгелеть
share-title-new = <bold>Лездак тенек</bold> муемс лия вайгельть
keep-track-profile = Ваномс путовксот касома мельга профилсэ
login-to-get-started = Совак эли совамо тарка тейть тевень ушодомга
target-segment-first-card = Кандат лезэ минек васенце норовавкс сегментс.
target-segment-generic-card = Кандат лезэ норовавкс сегментс.
target-segment-first-banner = Лездак  шкамс-теемс Common Voice-энь васенце норовавкс сегментс { $locale }сэ
target-segment-add-voice = Поладык эсеть вайгелеть
target-segment-learn-more = Ловнок седе тов

## Reporting

report = Пеняцямс
report-title = Кучомс пеняцямо
report-ask = Кодат проблемат лисить лангс те валрисьмесэнть?
report-offensive-language = Мельколыця кель
report-offensive-language-detail = Те валрисьмесэнть мельсатуиця эли амазый кель
report-grammar-or-spelling = Грамматикасо/сёрмадома лувсо ильведевкс
report-grammar-or-spelling-detail = Валрисьмесэнть грамматикасо эли сёрмадома лувсо ильведевкс.
report-different-language = Лия кель
report-different-language-detail = Сёрмадозь лия кельсэ, аволь сеньсэ мезе кортан.
report-difficult-pronounce = Стакасто ёвтави
report-difficult-pronounce-detail = Эйсэнзэ валт эли валмолевкст, конатне стакасто ловновить эли ёвтавить.
report-offensive-speech = Мельколыця кортамо
report-offensive-speech-detail = Клипсэнть ломанькс а путомань эли мельколыця кель.
report-other-comment =
    .placeholder = Мельполадкс
success = Тевесь лиссь
continue = Поладомс
report-success = Пеняцямось кучозь кода эряви

## Goals

streaks = Коволт
days =
    { $count ->
        [one] Чи
       *[other] Чить
    }
recordings =
    { $count ->
        [one] Вайгелень сёрмадома
       *[other] Вайгелень сёрмадомат
    }
validations =
    { $count ->
        [one] Кемекстамо
       *[other] Кемекстамот
    }

## Dashboard

your-languages = Тонь кельтне
toward-next-goal = Сыця норовамо ёнов
goal-reached = Норовавксот-целеть топавтык
clips-you-recorded = Эсеть сёрмадовт клипть
clips-you-validated = Клипть, конат тонсь кемекстыть
todays-recorded-progress = Течинь изнявкст «Common Voice»-нь клипень теемстэ
todays-validated-progress = Течинь изнявкст «Common Voice»-нь клипень кемекстамсто
stats = Статистика
awards = Казнеть
you = Тон
everyone = Эрьвась
contribution-activity = Лездамодо ламо
top-contributors = Неть, конат сехте пек лездыть
recorded-clips = Сёрмадозь клиптнесэ
validated-clips = Ваннозь клиптнесэ
total-approved = Зяро кемекстазь весемезэ
overall-accuracy = Весемезэ, кода вадрясто теезь
set-visibility = Путомс неявомаксчим
visibility-overlay-note = Мельс ледстямга: Зярдо аравтомат невти 'Неяви', сестэ аравтомась маштови полавтомс <profileLink>Профил лопасояк</profileLink>
show-ranking = Невтемс кодамо рангом

## Custom Goals

get-started-goals = Ушодомс норовавксонь-целень путома
create-custom-goal = Путомс эстеть норовавкс-цель
goal-type = Кодамо норовавкс-цель эстеть путовлить?
both-speak-and-listen = Кавонест
both-speak-and-listen-long = Кавонест (Кортамс ды Кунсоломс)
daily-goal = Эрьва чинь норовавкс-цель
weekly-goal = Эрьва таргонь норовавкс-цель
easy-difficulty = Шожда
average-difficulty = Куншкавидень
difficult-difficulty = Стака
pro-difficulty = Профессионалонь
lose-goal-progress-warning = Бути ней витнят-петнят норовавксот-целеть, ёмавтсак касомадот информациянть.
want-to-continue = Теветь поладовлик?
finish-editing = Прядомс васня витнематнень?
lose-changes-warning = Нейке лисиндерят, весе полавтоматнень ёмавтсыть
build-custom-goal = Путомс эстеть норовавкс-цель, конась эстеть лади
help-reach-hours-pluralized =
    Лездак изнямс{ NUMBER($hours) ->
        [one] { $hours } час
       *[other] { $hours } част
    } { $language }сэ эсеть норовавксот-целеть вельде
help-reach-hours-general-pluralized =
    Лездак Common Voice-нень изнямс кельсэть { NUMBER($hours) ->
        [one] { $hours } час
       *[other] { $hours } част
    } эсеть норовавкссот-цельсэть
set-a-goal = Путомс норовавкс-цель
cant-decide = Кавтолдат?
activity-needed-calculation-plural =
    { NUMBER($totalHours) ->
        [one] { $totalHours } час пурнави
       *[other] { $totalHours } част пурнавить
    } сеске { NUMBER($periodMonths) ->
        [one] { $periodMonths } ковдо
       *[other] { $periodMonths } ковдо
    } мейле { NUMBER($people) ->
        [one] { $people } ломань карминдеряй
       *[other] { $people } ломанть карминдеряйть
    } сёрмадомо { NUMBER($clipsPerDay) ->
        [one] { $clipsPerDay } клип
       *[other] { $clipsPerDay } клипть
    } чизэнзэ.
how-many-per-day = Маралянь тевть! Зяро клипть чизэнзэ?
how-many-a-week = Маралянь тевть! Зяро клипть таргозонзо?
which-goal-type = Тон арсят Кортамс, Кунсоломс эли кавонест тевтнень тейсыть?
receiving-emails-info = Ней аравтоматне невтить учат пельденк сёрмат, конатнесэ ёвтави «Common Voice» проектэнь норовавкстнэде-цельтнеде, зяро ды кода монь путовкстнэ лэздыть ды конат пачтить проектэнь кулялопат.
not-receiving-emails-info = Зярс аравтоматне невтить <bold>А УЧАТ</bold> пельденк сёрмат, конатнесэ ёвтави «Common Voice» проектэнь норовавкстнэде-цельтнеде, зяро ды кода монь путовкстнэ лэздыть ды конат пачтить проектэнь кулялопат.
n-clips-pluralized =
    { NUMBER($count) ->
        [one] { $count } клип
       *[other] { $count } клипть
    }
help-share-goal = Лездак тенек муемс таго зярыя вайгельть, нолдык ломань икелев эсеть норовавксот-целеть
confirm-goal = Кемекстамс норовавксот-целеть
goal-interval-weekly = Таргозонзо
# $type is one of share-goal-type-*
share-n-daily-contribution-goal = Явшемс эсеть эрьва чинь { $count } клипень норовавксонть { $type } тевень коряс
# $type is one of share-goal-type-*
share-n-weekly-contribution-goal = Явшемс эсеть эрьва таргонь { $count } клипень норовавксонть { $type } тевень коряс
share-goal-type-speak = Кортазь
share-goal-type-listen = Кунсолозь
share-goal-type-both = Кортазь-кунсолозь
# LINK will be replaced with the current URL
goal-share-text = Ансяк теинь эстень вайгелень сёрмадомадо норовавкс # CommonVoice -- адя мартон кундатано тонавтомо машинатненень кортамо кода алкукс ломанть кортыть { $link }
weekly-goal-created = Таргонь норовавксот-целеть шказь-теезь
daily-goal-created = Чинь норовавксот-целеть шказь-теезь
track-progress = Невтемс касомат тесэяк, статистикань лопасоткак.
return-to-edit-goal = Велявтомс теске норовавксот-целеть витнемга.
share-goal = Нолдынк норовавксом-целем ломань туртов

## Profile Delete

delete-q = Ули мелеть нардавтомс вайгелень сёрмадовксоткак, эли паро мельсэ кадсыть Common Voice данной пурнавксос?
keep = Кирдемс
remove = Ёртомс
keep-info = Лемтеме максыть вайгелень сёрмадовкст, сынь кадовить Common Voice данной пурнавксос. Нардындерясак профилэть, мейле а маштови вешемс вайгелень сёрмадовксот нардавтомаст
profile-form-delete = Нардамс профиленть

## Profile Download

download-q = Эряви таргамс данноеть?
download-info = Ёвтак тенек мезе арсят таргамс:
download-profile-title = Профиль
download-profile-info = Теньсэ ёндолпочта, теицянь лем & демографической инфо, сеске таргамс
download-profile-size = Зярыя байтт
download-recordings-title = Вайгелень сёрмадовкст
download-recordings-info = Теньсэ mp3-т ды мартост валрисьметь, паряк саи зярыя шка анокстамс
download-recordings-size = Седе сеедьстэ мегабайтт
download-recordings-unavailable = А маштови вешемс эсеть вайгелень сёрмадовкст, зярдо уш ваннови лия вешема.
download-size = Покшолма
download-selected = Кочказь
download-start = Таргамс профилень даннойтнень
download-request = Вешемс вайгелень сёрмадовкст
download-requests = Седе икелень данноень таргамо вешемат
download-requests-info = Зярдо вешат  вайгелень сёрмадовксот, пурнасынек сынст вейке эли седе ламо ZIP файлас. Вана кодат седе икелень вешемат ульнесть:
download-request-button = Таргамс
download-request-title = { $created }
download-request-description = { $clipCount } вайгелень клипть, весемезе содамкундонть покшолмазо { $size }. Пингезэ прядови { $expires }.
download-request-archive-single = Вейкине ZIP файл, конаньсэ
download-request-archive-multiple = Явомс { $archiveCount } ZIP файлс, конатнесэ
download-request-assembling-description = Файлэть пурнавить. Вант, инескеть мейле одов.
download-request-refresh-button = Одкстомтомс
download-request-modal-title = Таргамс сюлмавкст
download-request-modal-description = Тесэ вана ZIP файлэть таргамс сюлмавкст.
download-request-link-text = Zip #{ $offset }  { $total }-нть эйстэ
download-request-metadata-link = Валрисьмень текст

## Landing

welcome-staff = Совадо { $company } ломанть!
login-company = Совамс / Шкамс совамо тарка { $company } ёндолсёрма адрессэ
profile-not-required = Лездамсто профилэсь а эряви, ялатеке сон лезэв
read-more-about = Ловнок седе тов «Минденек» лопасонок

## DemoLayout

demo-get-started = Адя, ушодтано
demo-welcome = Совак, инеськеть, «Common Voice-ес»
demo-welcome-subheader = Ули мелеть содамс седеяк ламо ды максомс лезкс проектэнтень?

## Demo Datasets

demo-language-select-card-header = Common Voice-эсь менель алдонь мода лангонь покш, ламо келень данной пурнавкс, конась ломань икеле.
card-button-next = Икелев
card-button-back = Мекев
demo-language-select-label = Ваномс кельтнесэ
demo-eofy-header = 2019 Иень прядомань нолдавкс
demo-eofy-sub_header = Вайгелень данной пурнавкс, анок таргамс
demo-account = Совамо тарка

## Demo Account

demo-account-card-header = Лезксэнь максомга а эряви эсеть совамо тарка, се ансяк шождалгавтсы теветь.
demo-account-card-body = Вить кедь ёно минь ёвтатано проектэнть лезэнзэ ды седе чарькодевиксстэ ёвтатано кодат информацият минь ливттяно ломань икелев. Нолдынк ало cюлмавкстнэнь Common Voice совамо таркань шкамга-теемга эсеть содымашинасо-лиясо.
demo-account-enter-email =
    .label = Совавтт ёндолсёрмапаргот прянь сёрмадстомань сюлмавксонь кучовтомга
demo-account-sign-up = Кучовтомс прянь сёрмадстомань сюлмавкс

## Demo Contribute

demo-contribute-card-header = Аноктадо лездамо вайгелень сёрмадозь эли пилесэ кунсолозь?
demo-listen-subtitle = Аноктадо лезксэнь максомо?

## Demo Dashboard

demo-dashboard-card-header = Эсеть аравтома лазот невтить течемень касомат, эсетсенть ды вейсэнь куротсенть.

## Validation criteria

contribution-criteria-nav = Критерият
contribution-criteria-link = Чарькодемс лезксэнь максомань критерият
contribution-criteria-page-title = Лезксэнь максомань критериятне
contribution-criteria-page-description = Чарькодть мезес явомс мель, зярдо кунсолат вайгельсэ сёрмадозь клипть, ды тувако вадрякстомтыть эсеть вайгельсэ сёрмадовкстнэньгак
contribution-for-example = саемга
contribution-misreadings-title = Беряньстэ ловномат
contribution-misreadings-description = Зярдо кунсолат, кирдть мельсэ вейкеяк ильведевкс, кодамо вишинька илязо уле, а маштови нолдамс. Текстэсь улезэ истямо кода и вайгелесь. Ёртык понгиндеряй ильведевкскеяк. <br/>Сеедьстэ вастневиця ильведевкстне истят:
contribution-misreadings-description-extended-list-1 = Аудионть ушодомасонть ве слогсо нуркине вал а саты.
contribution-misreadings-description-extended-list-2 = Валонть песэ а саты <strong>'т'</strong>.
contribution-misreadings-description-extended-list-3 = Ловномсто нолды моравикст-гласнойть, конатне текстсэ максозь, саемга "пандало" "пандо ало"-нь таркас, эли мекевлангт.
contribution-misreadings-description-extended-list-4 = Аудионь меельце валонть пезэ нолдазь; сёрмадовксось лоткавтозь шкадо  икеле.
contribution-misreadings-description-extended-list-5 = Ловномсто ёвты секе валонть зярыяксть пецек-пецек.
contribution-misreadings-example-1-title = Триас пингень покштояк покш инеметьказт.
contribution-misreadings-example-2-title = Триас пингень покштояк покш инеметьказ.
contribution-misreadings-example-2-explanation = [Эряволь улемс ‘инеметьказт’]
contribution-misreadings-example-3-title = Триас пингень покштояк покш инеметька-.
contribution-misreadings-example-3-explanation = [Вайгелень сёрмадомась лоткавтозь меельце валонть прядомадо икеле]
contribution-misreadings-example-4-title = Триас пингень покштояк покш инеметьказт. Истя.
contribution-misreadings-example-4-explanation = [Эрявикс тексттэ башка ули таго-мезе сёрмадозь]
contribution-misreadings-example-5-title = Миненек эрявоволь кофе.
contribution-misreadings-example-6-title = Миненек эряволь кофе.
contribution-misreadings-example-6-explanation = [Улемаль “эрявоволь”]
contribution-misreadings-example-8-title = Модамекшесь капшась вакска.
contribution-misreadings-example-8-explanation = [Вайгелесь ды текстэсь а прыть вейс]
contribution-varying-pronunciations-title = Валонь ёвтнематне явовить вейкест-вейкест эйстэ
contribution-varying-pronunciations-example-1-title = Прясонзо кандтнесь берет.
contribution-background-noise-title = Удалдо шалт
contribution-background-noise-description-extended = Вайгелень сёрмадовксось туи кускакс-кускакс эли лажны, ёртык! Ванстык ансяк сестэ, бути весе текстэсь маряви.
contribution-background-noise-example-1-fixed-title = <strong>[Кешнамо]</strong> Триас пингень покштояк покш <strong>[коз]</strong> инеметьказт.
contribution-background-noise-example-2-fixed-title = Триас пи <strong>[коз]</strong> покштояк покш  инеметьказт.
contribution-background-noise-example-2-explanation = [Пельксэзэ текстэнть а маряви]
contribution-background-noise-example-3-fixed-title = <strong>[Crackle]</strong> пингень покштояк покш <strong>[crackle]</strong> -етьказт.
contribution-background-voices-title = Удалдо вайгельть
contribution-background-voices-description-extended = Вайгелень сёрмадовксось туи кускакс-кускакс эли лажны, ёртык! Ванстык ансяк сестэ, бути весе текстэсь маряви.
contribution-background-voices-example-1-title = Триас пингень покштояк покш инеметьказт <strong>[лиянь ловнома]</strong>
contribution-background-voices-example-1-explanation = Сыргат мартонок? <strong>[лиянь серьгедема]</strong>
contribution-volume-title = Вайгелень виевксчи
contribution-reader-effects-title = Ловныцянть ёнксонзо
contribution-just-unsure-title = Ансяк Кавтолдат?
contribution-just-unsure-description = Понгиндеряй истямо тев, конадо неть тевень ветямотнесэ арась кортамо, инескеть, каяк вайгелеть эсеть паро превсэ. Бути алкукс а арсеви тенть, кодамо вайгель каямс, лепштика «вакска ютамонь» повненть ды кундак сыця вайгелень сёрмадовксос.
see-more = <chevron></chevron>Неемс седе ламо
see-less = <chevron></chevron>Неемс седе аламо
